# Diplomatura en Ciencia de Datos, Aprendizaje Automático y sus Aplicaciones
---

<p style="text-align: center;">
<img src=http://www2.famaf.unc.edu.ar/~efernandez/egeo/img/logos/famaf.jpg width=40%>
</p>

 Universidad Nacional de Córdoba

---

## Practico: Aprendizaje No Supervisado
## 1. Preprocesamiento

En la siguiente notebook se presentará las operaciones de preprocesamiento que deben ser aplicadas previo a entrenar los modelos de aprendizaje no supervisado

### Importación de librerías

In [1]:
import pandas as pd 
import numpy as np
import warnings
import pgeocode
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer
from sklearn.impute import IterativeImputer
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

warnings.filterwarnings('ignore')

### Lectura del dataset

In [2]:
df = pd.read_parquet('cupones_no_supervisado.parquet')
df

,dni_titular_movimiento,moneda_movimiento,id_comercio_movimiento,nombre_comercio_histo,numero_cupon_movimiento,debito_credito_movimiento,producto_naranja_movimiento,codigo_empresa_movimiento,tipo_producto_tarjeta_movimiento,plan_movimiento,...,cargo_descripcion_histo,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,anio_mes_cupon,monto_ajustado,nombre_comercio_concat,cargo_sector_desc_hist,edad_cliente,antig_cliente,comercio_cat
0,0001686b52949b5461ffcbc766687e45031,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,EMPDE COMERCIO,SECUNDARIOS,Propia,202008,5.52,INTERES POR MORA US,Sector_Empleado_Comercio,61,92,0
1,000220fa96ec5af89817894033f8099c547,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,SIN DATOS,None,None,202008,15.68,INTERES POR MORA US,Sector_Sin_Datos,29,2,0
2,0002be202de47dfae9cc2304d91161be595,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,SIN DATOS,PRIMARIOS,Otros,202008,5.46,INTERES POR MORA US,Sector_Sin_Datos,28,95,0
3,000e137d0af42e193be1ff670c00d4d1506,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,EMPDE COMERCIO,SECUNDARIOS,Propia,202008,2.50,INTERES POR MORA US,Sector_Empleado_Comercio,40,151,0
4,0009d010e4faf69552a814a33832b185877,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,EMPDE COMERCIO,UNIVERSITARIOS,Alquilada,202008,2.10,INTERES POR MORA US,Sector_Empleado_Comercio,36,87,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124311,0006c15ca823454b68c189da1344d9d7317,0,064194852,NARANJA PLUS RESISTENCIA II,821734,0,PC,1,3,9,...,JUBILADO,SECUNDARIOS,Propia,202105,13210.67,NARANJA PLUS RESISTENCIA II,Sector_No_Operativo,66,105,0
124312,0000ab27a0ed815f947df8bcb834ff97975,0,063299398,PLAN DE CUOTAS SGO DEL ESTERO,152686,0,PC,1,3,3,...,ADMINISTRATIVO,SECUNDARIOS,Propia,202105,121.73,PLAN DE CUOTAS SGO DEL ESTERO,Sector_Empleado_Comercio,74,140,0
124313,0000ab27a0ed815f947df8bcb834ff97975,0,063299398,PLAN DE CUOTAS SGO DEL ESTERO,152687,0,PC,1,3,3,...,ADMINISTRATIVO,SECUNDARIOS,Propia,202105,12284.16,PLAN DE CUOTAS SGO DEL ESTERO,Sector_Empleado_Comercio,74,140,0
124314,000986998f686d538f893956e736fedf611,3,350071053,20 DE MAYO SRL,70,0,PL,1,0,1,...,OPERARIO,SECUNDARIOS,Propia,202002,1040.00,20 DE MAYO SRL,Sector_Operativo,45,261,3
124315,000986998f686d538f893956e736fedf611,3,350071053,20 DE MAYO SRL,70,0,PL,1,0,1,...,OPERARIO,SECUNDARIOS,Propia,202002,1040.00,20 DE MAYO SRL,Sector_Operativo,45,261,3

### 1.1 Imputación de datos nulos

In [3]:
df.isna().sum()

dni_titular_movimiento                      0
moneda_movimiento                           0
id_comercio_movimiento                      0
nombre_comercio_histo                       0
numero_cupon_movimiento                     0
debito_credito_movimiento                   0
producto_naranja_movimiento                 0
codigo_empresa_movimiento                   0
tipo_producto_tarjeta_movimiento            0
plan_movimiento                             0
fecha_vto_cupon_movimiento                  0
fecha_presentacion_movimiento               0
fecha_cupon_movimiento                      0
fecha_carga_sistema_movimiento          40715
monto_compra_movimiento                     0
importe_cuota_movimiento                    0
interes_movimiento                          0
cargo_adm_seguro_movimiento                 0
cargo_otorgamiento_movimiento               0
cargo_seguro_vida_movimiento                0
cargo_administrativo_movimiento             0
seleccionado_ng                             0
tipo_prestamo_movimiento               124098
codigo_contable_movimiento                  0
local_venta_producto                        0
nombre_local_histo                     117713
marca_debito_automatico                     0
fecha_extraccion_movimiento            124316
id_comercio_otras_marcas_movimiento         0
fecha_nacimiento                          306
estado_civil_descripcion                    0
sexo_descripcion                          647
pais                                     3398
provincia                                3424
ciudad                                   3885
domicilio_codigo_postal                   957
domicilio_barrio                         1145
fecha_de_ingreso_histo                      0
cargo_descripcion_histo                     0
nivel_estudio_descripcion_histo          4393
rel_vivienda_descripcion_histo          13740
anio_mes_cupon                              0
monto_ajustado                              0
nombre_comercio_concat                      0
cargo_sector_desc_hist                      0
edad_cliente                              306
antig_cliente                               0
comercio_cat                                0
dtype: int64

#### Fecha carga sistema movimiento

In [4]:
print('fecha_cupon vs fecha_carga:')
df["fecha_cupon_movimiento"].dt.date.corr(
    df["fecha_carga_sistema_movimiento"].dt.date, method = 'spearman', min_periods = 1)

fecha_cupon vs fecha_carga:

0.9984405676446135

Al calcular su correlación con la columna **fecha_cupon_movimiento**, podemos observar que tienen una relación lineal fuerte, por lo cual decidimos no tener en cuenta esta columna, y si utilizar fecha_cupon_movimiento en su lugar.

In [5]:
df.drop('fecha_carga_sistema_movimiento', axis=1, inplace=True)

#### Tipo_prestamo_movimiento, Nombre_local_histo y Fecha_extraccion_movimiento

Las variables tipo_prestamo_movimiento, nombre_local_histo y fecha_extraccion_movimiento poseen una gran cantidad de valores nulos (fecha extracción tiene todos sus valores nulos), por lo cuál la mejor decisión es no tenerlas en cuenta.

In [6]:
df.drop(columns = ['tipo_prestamo_movimiento','nombre_local_histo','fecha_extraccion_movimiento'], inplace=True)

#### Sexo

In [7]:
(df[df['sexo_descripcion'].isna()])['sexo_descripcion']

220       None
378       None
474       None
485       None
634       None
          ...
124145    None
124213    None
124214    None
124225    None
124226    None
Name: sexo_descripcion, Length: 647, dtype: object

Procedemos a imputar con 'Sin Datos' a los valores faltantes en la columna sexo_descripcion.

In [8]:
columna = ['sexo_descripcion']
df['sexo_descripcion']= df.sexo_descripcion.fillna(value=np.nan)
const_imputer = SimpleImputer(missing_values= np.nan, strategy='constant',fill_value="Sin_Datos") 
df.loc[ : , columna] = pd.DataFrame(const_imputer.fit_transform(df.loc[:][columna]) , columns = columna)

In [9]:
#df['sexo_descripcion'] = df['sexo_descripcion'].astype(str)
df['sexo_descripcion'].value_counts()

Mujer        65541
Hombre       58128
Sin_Datos      647
Name: sexo_descripcion, dtype: int64

#### Datos faltantes Nivel de Estudio

In [10]:
(df[df['nivel_estudio_descripcion_histo'].isna()])['nivel_estudio_descripcion_histo']

1         None
9         None
27        None
30        None
37        None
          ...
124171    None
124179    None
124181    None
124217    None
124218    None
Name: nivel_estudio_descripcion_histo, Length: 4393, dtype: object

Habiendo analizado en los trabajos anteriores que la pérdida de datos de nivel de estudio también es sistemática, es decir no es posible recuperar este dato, procedemos a imputar dichas filas con Sin datos.

In [11]:
columna = ['nivel_estudio_descripcion_histo']
df['nivel_estudio_descripcion_histo']= df.nivel_estudio_descripcion_histo.fillna(value=np.nan)
const_imputer = SimpleImputer(missing_values= np.nan, strategy='constant',fill_value="Sin_Datos") 
df.loc[ : , columna] = pd.DataFrame(const_imputer.fit_transform(df.loc[:][columna]) , columns = columna)

In [12]:
df.nivel_estudio_descripcion_histo.value_counts()

SECUNDARIOS       66356
PRIMARIOS         30472
TERCIARIOS        14332
UNIVERSITARIOS     8763
Sin_Datos          4393
Name: nivel_estudio_descripcion_histo, dtype: int64

#### Datos faltantes Vivienda

In [13]:
(df[df['rel_vivienda_descripcion_histo'].isna()])['rel_vivienda_descripcion_histo']

1         None
7         None
9         None
15        None
27        None
          ...
124276    None
124279    None
124280    None
124281    None
124282    None
Name: rel_vivienda_descripcion_histo, Length: 13740, dtype: object

Al igual que el caso anterior, la pérdida de datos de vivienda también es sistemática, es decir no es posible recuperar este dato, procedemos a imputar dichas filas con Sin datos.

In [14]:
columna = ['rel_vivienda_descripcion_histo']
df["rel_vivienda_descripcion_histo"]= df.rel_vivienda_descripcion_histo.fillna(value=np.nan)
const_imputer = SimpleImputer(missing_values= np.nan, strategy='constant',fill_value="Sin_Datos") 
df.loc[ : , columna] = pd.DataFrame(const_imputer.fit_transform(df.loc[:][columna]) , columns = columna)

In [15]:
df.rel_vivienda_descripcion_histo.value_counts()

Propia         85313
Sin_Datos      13740
Otros          10653
De familiar    10473
Alquilada       4137
Name: rel_vivienda_descripcion_histo, dtype: int64

#### Fecha de nacimiento y edad

In [16]:
(df[df['fecha_nacimiento'].isna()])

,dni_titular_movimiento,moneda_movimiento,id_comercio_movimiento,nombre_comercio_histo,numero_cupon_movimiento,debito_credito_movimiento,producto_naranja_movimiento,codigo_empresa_movimiento,tipo_producto_tarjeta_movimiento,plan_movimiento,...,cargo_descripcion_histo,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,anio_mes_cupon,monto_ajustado,nombre_comercio_concat,cargo_sector_desc_hist,edad_cliente,antig_cliente,comercio_cat
220,000650e8144e3a42d47a21aee9e48f34804,0,020100936,CARGO POR GESTION DE COBRANZA,999990,0,PL,1,0,1,...,JUBILADO,PRIMARIOS,Propia,202008,0.98,CARGO POR GESTION DE COBRANZA,Sector_No_Operativo,<NA>,237,0
378,000650e8144e3a42d47a21aee9e48f34804,0,020100936,CARGO POR GESTION DE COBRANZA,999990,0,PL,1,0,1,...,JUBILADO,PRIMARIOS,Propia,202008,0.98,CARGO POR GESTION DE COBRANZA,Sector_No_Operativo,<NA>,237,0
474,000650e8144e3a42d47a21aee9e48f34804,0,020100936,CARGO POR GESTION DE COBRANZA,999990,0,PL,1,0,1,...,JUBILADO,PRIMARIOS,Propia,202009,66.48,CARGO POR GESTION DE COBRANZA,Sector_No_Operativo,<NA>,238,0
634,000650e8144e3a42d47a21aee9e48f34804,0,020100936,CARGO POR GESTION DE COBRANZA,999990,0,PL,1,0,1,...,JUBILADO,PRIMARIOS,Propia,202009,66.48,CARGO POR GESTION DE COBRANZA,Sector_No_Operativo,<NA>,238,0
768,000650e8144e3a42d47a21aee9e48f34804,0,020100936,CARGO POR GESTION DE COBRANZA,999990,0,PL,1,0,1,...,JUBILADO,PRIMARIOS,Propia,202010,2.32,CARGO POR GESTION DE COBRANZA,Sector_No_Operativo,<NA>,239,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122068,000cde1ad5d8114e7a5dd977930b8835659,3,112000973,LADY STORK STORK MAN,6292,0,PL,1,3,1,...,SIN DATOS,SECUNDARIOS,Propia,202007,5244.57,LADY STORK STORK MAN,Sector_Sin_Datos,<NA>,17,1
124213,000cde1ad5d8114e7a5dd977930b8835659,0,112101030,EL EMPORIO DE LAS GOLOSINAS,1665,0,PL,1,3,1,...,SIN DATOS,SECUNDARIOS,Propia,202007,515.40,EL EMPORIO DE LAS GOLOSINAS,Sector_Sin_Datos,<NA>,17,1
124214,000cde1ad5d8114e7a5dd977930b8835659,0,112101030,EL EMPORIO DE LAS GOLOSINAS,1665,0,PL,1,3,1,...,SIN DATOS,SECUNDARIOS,Propia,202007,515.40,EL EMPORIO DE LAS GOLOSINAS,Sector_Sin_Datos,<NA>,17,1
124225,000650e8144e3a42d47a21aee9e48f34804,3,112142903,ROSARIO VISION OPTICAS,84,0,PL,1,3,1,...,JUBILADO,PRIMARIOS,Propia,202007,2536.23,ROSARIO VISION OPTICAS,Sector_No_Operativo,<NA>,236,1
124226,000650e8144e3a42d47a21aee9e48f34804,3,112142903,ROSARIO VISION OPTICAS,84,0,PL,1,3,1,...,JUBILADO,PRIMARIOS,Propia,202007,2536.23,ROSARIO VISION OPTICAS,Sector_No_Operativo,<NA>,236,1

Habiendo analizado en trabajos anteriores, que la falta de la fecha de nacimiento es una pérdida sistemática, no podemos recuperar dicho dato de una forma confiable. Debido a que en los modelos de aprendizaje no supervisado cobra mucha importancia la descripción de los individuos a los efectos de poder agrupar los similares, creemos conveniente no considerar aquellas filas en las cuales no tenemos el dato de la fecha de nacimiento, y por lo tanto tampoco su edad.

In [17]:
df = df[(~df['fecha_nacimiento'].isnull())]
df.shape

(124010, 44)

#### Datos Faltantes Geograficos de los clientes

In [18]:
col_geo = ['domicilio_codigo_postal', 'pais', 'provincia', 'ciudad', 'domicilio_barrio']
df[col_geo].isna().sum()

domicilio_codigo_postal     651
pais                       3092
provincia                  3118
ciudad                     3579
domicilio_barrio            839
dtype: int64

##### Reimputación con datos geográficos presentes en el dataset

En primer lugar, procedemos a corregir aquellos errores presentes en el dataset: filas con código postal igual a 0 y con código postal igual a 400.

In [19]:
df[df['domicilio_codigo_postal'].str.len()<4][['pais','provincia','ciudad','domicilio_codigo_postal']].drop_duplicates()

            pais provincia         ciudad domicilio_codigo_postal
24863  Argentina      None           None                       0
58603  Argentina   TUCUMAN  CAMPO HERRERA                     400

In [20]:
print('Cantidad de filas con Cero:', len(df[df['domicilio_codigo_postal']=='0']))

Cantidad de filas con Cero: 26

In [21]:
df['domicilio_codigo_postal'] = df['domicilio_codigo_postal'].replace('0',np.nan)
df[df['domicilio_codigo_postal']=='0']

Empty DataFrame
Columns: [dni_titular_movimiento, moneda_movimiento, id_comercio_movimiento, nombre_comercio_histo, numero_cupon_movimiento, debito_credito_movimiento, producto_naranja_movimiento, codigo_empresa_movimiento, tipo_producto_tarjeta_movimiento, plan_movimiento, fecha_vto_cupon_movimiento, fecha_presentacion_movimiento, fecha_cupon_movimiento, monto_compra_movimiento, importe_cuota_movimiento, interes_movimiento, cargo_adm_seguro_movimiento, cargo_otorgamiento_movimiento, cargo_seguro_vida_movimiento, cargo_administrativo_movimiento, seleccionado_ng, codigo_contable_movimiento, local_venta_producto, marca_debito_automatico, id_comercio_otras_marcas_movimiento, fecha_nacimiento, estado_civil_descripcion, sexo_descripcion, pais, provincia, ciudad, domicilio_codigo_postal, domicilio_barrio, fecha_de_ingreso_histo, cargo_descripcion_histo, nivel_estudio_descripcion_histo, rel_vivienda_descripcion_histo, anio_mes_cupon, monto_ajustado, nombre_comercio_concat, cargo_sector_desc_hist, edad_cliente, antig_cliente, comercio_cat]
Index: []

[0 rows x 44 columns]

In [22]:
df['ciudad'] = df['ciudad'].str.strip()
print('Cantidad de filas con 400 en el CP:',len(df[df['ciudad'].isin(['CAMPO HERRERA'])]))
df[df['ciudad'].isin(['CAMPO HERRERA'])][['pais','provincia','ciudad','domicilio_codigo_postal']].drop_duplicates()

Cantidad de filas con 400 en el CP: 20

            pais provincia         ciudad domicilio_codigo_postal
58603  Argentina   TUCUMAN  CAMPO HERRERA                     400

Obteniendo el dato de una fuente externa, vamos a reemplazar el código postal de la ciudad Campo Herrera en la provincia Tucumán por el valor correcto.

Fuente: https://codigo-postal.co/argentina/tucuman/campo-herrera/

In [23]:
df.loc[df['ciudad'].isin(['CAMPO HERRERA']),'domicilio_codigo_postal'] = '4105'
print('Cantidad de filas con 400 en el CP:',len(df[df['ciudad'].isin(['CAMPO HERRERA'])]))
df[df['ciudad'].isin(['CAMPO HERRERA'])][['pais','provincia','ciudad','domicilio_codigo_postal']].drop_duplicates()

Cantidad de filas con 400 en el CP: 20

            pais provincia         ciudad domicilio_codigo_postal
58603  Argentina   TUCUMAN  CAMPO HERRERA                    4105

Recuperaremos las filas donde haya algún dato geográfico presente que permita imputar los faltantes.

Procedemos a recuperar los datos de **provincia** y **ciudad** a través de **domicilio_codigo_postal** dentro de nuestro dataset.

In [24]:
cp_ciu_nan = df[(df['domicilio_codigo_postal'].isna()!=True) & (df['ciudad'].isna()==True)]['domicilio_codigo_postal'].unique()
df[df['domicilio_codigo_postal'].isin(cp_ciu_nan)][['domicilio_codigo_postal','ciudad']]\
.drop_duplicates().sort_values(by=['domicilio_codigo_postal'])

      domicilio_codigo_postal                 ciudad
5899                     1130                   None
3027                     1663             SAN MIGUEL
2687                     1663                   None
2271                     2144                   None
58610                    2506                   None
58684                    2705                   None
17839                    2812                   None
23486                    3230                   None
58620                    3240                   None
116                      3300                POSADAS
24727                    3300                   None
12438                    3500                   None
26                       3500            RESISTENCIA
476                      3500            Resistencia
21019                    3503                   None
870                      3503             LA LEONESA
2024                     4000                TUCUMAN
5468                     4000                   None
105                      4000  SAN MIGUEL DE TUCUMAN
174                      4101  SAN MIGUEL DE TUCUMAN
4684                     4101                   None
795                      4101     LAS TALITASTUCUMAN
2111                     4146                   None
89                       4400                  SALTA
77                       4400                   None
128                      5000                   None
100                      5000                CORDOBA
435                      5002                CORDOBA
3531                     5002                   None
118                      5014                CORDOBA
5508                     5014                   None
58628                    5019                   None
494                      5101                   None
7                        5501             GODOY CRUZ
217                      5501                   None
9267                     5544                   None
1481                     5613                   None
92                       5800             RIO CUARTO
1527                     5800                   None
3512                     5907    SPELLICOALTO ALEGRE
2411                     5907                   None
2724                     8322                   None
5466                     9015                   None
12419                    9100                   None
402                      9100                 TRELEW

In [25]:
df.loc[:,'ciudad'] = df['ciudad'].str.upper()
df_dp_cd = df[(df['domicilio_codigo_postal'].isin(cp_ciu_nan)) & (df['ciudad'].isna()==False)]\
            [['domicilio_codigo_postal','ciudad']]\
            .drop_duplicates()\
            .sort_values(by=['domicilio_codigo_postal'])
df_dp_cd = df_dp_cd.rename(columns={'ciudad': 'ciudad_0', 'domicilio_codigo_postal': 'cp'})
df_dp_cd

        cp               ciudad_0
3027  1663             SAN MIGUEL
116   3300                POSADAS
26    3500            RESISTENCIA
870   3503             LA LEONESA
105   4000  SAN MIGUEL DE TUCUMAN
2024  4000                TUCUMAN
174   4101  SAN MIGUEL DE TUCUMAN
795   4101     LAS TALITASTUCUMAN
89    4400                  SALTA
100   5000                CORDOBA
435   5002                CORDOBA
118   5014                CORDOBA
7     5501             GODOY CRUZ
92    5800             RIO CUARTO
3512  5907    SPELLICOALTO ALEGRE
402   9100                 TRELEW

Realizamos merge sobre el dataframe creado, e imputamos los datos de ciudad.

In [26]:
df = df.merge(df_dp_cd.drop_duplicates(subset=['cp'], keep='first'), 
              how='left',
              left_on = 'domicilio_codigo_postal', 
              right_on = 'cp')\
            .drop(columns= ['cp'])
df.head()

,dni_titular_movimiento,moneda_movimiento,id_comercio_movimiento,nombre_comercio_histo,numero_cupon_movimiento,debito_credito_movimiento,producto_naranja_movimiento,codigo_empresa_movimiento,tipo_producto_tarjeta_movimiento,plan_movimiento,...,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,anio_mes_cupon,monto_ajustado,nombre_comercio_concat,cargo_sector_desc_hist,edad_cliente,antig_cliente,comercio_cat,ciudad_0
0,0001686b52949b5461ffcbc766687e45031,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,SECUNDARIOS,Propia,202008,5.52,INTERES POR MORA US,Sector_Empleado_Comercio,61,92,0,NaN
1,000220fa96ec5af89817894033f8099c547,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Sin_Datos,Sin_Datos,202008,15.68,INTERES POR MORA US,Sector_Sin_Datos,29,2,0,NaN
2,0002be202de47dfae9cc2304d91161be595,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,PRIMARIOS,Otros,202008,5.46,INTERES POR MORA US,Sector_Sin_Datos,28,95,0,NaN
3,000e137d0af42e193be1ff670c00d4d1506,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,SECUNDARIOS,Propia,202008,2.50,INTERES POR MORA US,Sector_Empleado_Comercio,40,151,0,NaN
4,0009d010e4faf69552a814a33832b185877,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,UNIVERSITARIOS,Alquilada,202008,2.10,INTERES POR MORA US,Sector_Empleado_Comercio,36,87,0,NaN

In [27]:
# Sustituimos los valores nulos de la columna provincia (provincia_x) por las provincias (en mayus) de la columna
# provincia creada en la anterior unión.
df.loc[df['ciudad'].isnull(), 'ciudad'] = df['ciudad_0'].str.upper()

df[(df['domicilio_codigo_postal'].isin(cp_ciu_nan)) & (df['ciudad'].isna()==True)]\
    [['domicilio_codigo_postal','ciudad','ciudad_0']].drop_duplicates().sort_values(by=['domicilio_codigo_postal'])

      domicilio_codigo_postal ciudad ciudad_0
5879                     1130    NaN      NaN
2253                     2144    NaN      NaN
58498                    2506    NaN      NaN
58571                    2705    NaN      NaN
17785                    2812    NaN      NaN
23426                    3230    NaN      NaN
58508                    3240    NaN      NaN
2094                     4146    NaN      NaN
58516                    5019    NaN      NaN
491                      5101    NaN      NaN
9243                     5544    NaN      NaN
1472                     5613    NaN      NaN
2704                     8322    NaN      NaN
5446                     9015    NaN      NaN

In [28]:
df = df.drop(columns=['ciudad_0'])

Procedemos a imputar **provincia** de la misma manera que **ciudad**.

In [29]:
cp_prov_nan = df[(df['domicilio_codigo_postal'].isna()!=True) & (df['provincia'].isna()==True)]['domicilio_codigo_postal'].unique()
df[df['domicilio_codigo_postal'].isin(cp_prov_nan)][['domicilio_codigo_postal','provincia']]\
.drop_duplicates().sort_values(by=['domicilio_codigo_postal'])

      domicilio_codigo_postal     provincia
5879                     1130          None
3007                     1663  BUENOS AIRES
2667                     1663          None
2253                     2144          None
58571                    2705          None
17785                    2812          None
23426                    3230          None
116                      3300      MISIONES
24667                    3300          None
26                       3500         CHACO
12414                    3500          None
20960                    3503          None
865                      3503         CHACO
5448                     4000          None
105                      4000       TUCUMAN
4664                     4101          None
174                      4101       TUCUMAN
2094                     4146          None
128                      5000          None
100                      5000       CORDOBA
3511                     5002          None
433                      5002       CORDOBA
5488                     5014          None
118                      5014       CORDOBA
7                        5501       MENDOZA
217                      5501          None
1472                     5613          None
1518                     5800          None
92                       5800       CORDOBA
3492                     5907       CORDOBA
2392                     5907          None
2704                     8322          None
5446                     9015          None
12395                    9100          None
400                      9100        CHUBUT

In [30]:
df.loc[:,'provincia'] = df['provincia'].str.upper()
df_dp_pv = df[(df['domicilio_codigo_postal'].isin(cp_ciu_nan)) & (df['provincia'].isna()==False)]\
            [['domicilio_codigo_postal','provincia']]\
            .drop_duplicates()\
            .sort_values(by=['domicilio_codigo_postal'])
df_dp_pv = df_dp_pv.rename(columns={'provincia': 'provincia_0', 'domicilio_codigo_postal': 'cp'})
df_dp_pv

         cp   provincia_0
3007   1663  BUENOS AIRES
58498  2506      SANTA FE
58508  3240    ENTRE RIOS
116    3300      MISIONES
26     3500         CHACO
865    3503         CHACO
105    4000       TUCUMAN
174    4101       TUCUMAN
77     4400         SALTA
100    5000       CORDOBA
433    5002       CORDOBA
118    5014       CORDOBA
58516  5019       CORDOBA
491    5101       CORDOBA
7      5501       MENDOZA
9243   5544       MENDOZA
92     5800       CORDOBA
3492   5907       CORDOBA
400    9100        CHUBUT

In [31]:
df = df.merge(df_dp_pv.drop_duplicates(subset=['cp'], keep='first'), 
              how='left',
              left_on = 'domicilio_codigo_postal', 
              right_on = 'cp')\
            .drop(columns= ['cp'])
df.head()

,dni_titular_movimiento,moneda_movimiento,id_comercio_movimiento,nombre_comercio_histo,numero_cupon_movimiento,debito_credito_movimiento,producto_naranja_movimiento,codigo_empresa_movimiento,tipo_producto_tarjeta_movimiento,plan_movimiento,...,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,anio_mes_cupon,monto_ajustado,nombre_comercio_concat,cargo_sector_desc_hist,edad_cliente,antig_cliente,comercio_cat,provincia_0
0,0001686b52949b5461ffcbc766687e45031,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,SECUNDARIOS,Propia,202008,5.52,INTERES POR MORA US,Sector_Empleado_Comercio,61,92,0,NaN
1,000220fa96ec5af89817894033f8099c547,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Sin_Datos,Sin_Datos,202008,15.68,INTERES POR MORA US,Sector_Sin_Datos,29,2,0,NaN
2,0002be202de47dfae9cc2304d91161be595,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,PRIMARIOS,Otros,202008,5.46,INTERES POR MORA US,Sector_Sin_Datos,28,95,0,NaN
3,000e137d0af42e193be1ff670c00d4d1506,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,SECUNDARIOS,Propia,202008,2.50,INTERES POR MORA US,Sector_Empleado_Comercio,40,151,0,NaN
4,0009d010e4faf69552a814a33832b185877,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,UNIVERSITARIOS,Alquilada,202008,2.10,INTERES POR MORA US,Sector_Empleado_Comercio,36,87,0,NaN

In [32]:
# Sustituimos los valores nulos de la columna provincia (provincia_0) por las provincias (en mayus) de la columna
# provincia creada en la anterior unión.

df.loc[df['provincia'].isnull(), 'provincia'] = df['provincia_0'].str.upper()

df[(df['domicilio_codigo_postal'].isin(cp_ciu_nan)) & (df['provincia'].isna()==True)]\
    [['domicilio_codigo_postal','provincia','provincia_0']].drop_duplicates().sort_values(by=['domicilio_codigo_postal'])

      domicilio_codigo_postal provincia provincia_0
5879                     1130       NaN         NaN
2253                     2144       NaN         NaN
58571                    2705       NaN         NaN
17785                    2812       NaN         NaN
23426                    3230       NaN         NaN
2094                     4146       NaN         NaN
1472                     5613       NaN         NaN
2704                     8322       NaN         NaN
5446                     9015       NaN         NaN

In [33]:
df = df.drop(columns=['provincia_0'])

In [34]:
df[col_geo].isna().sum()

domicilio_codigo_postal     677
pais                       3092
provincia                  1535
ciudad                     1818
domicilio_barrio            839
dtype: int64

Como podemos observar, existen datos nulos en **provincia** y **ciudad** que persistieron a la imputación anterior, por lo que decidimos buscar en un CSV externo los datos de Códigos Postales, Localidades y Provincias de Argentina.

##### Imputación con dataset externo

In [35]:
df_cp = pd.read_csv('https://raw.githubusercontent.com/JIBarrionuevoGaltier/localidades_AR/master/localidades_cp_maestro.csv')
df_cp.head()

,provincia,id,localidad,cp,id_prov_mstr
0,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,NaN,2
1,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,1144.0,2
2,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,1145.0,2
3,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,1146.0,2
4,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,1147.0,2

In [36]:
# Realizamos una curación de datos sobre este dataset.

df_cp.cp = df_cp[df_cp['cp'].isna()!=True]['cp'].apply(int).apply(str)
df_cp.head()

,provincia,id,localidad,cp,id_prov_mstr
0,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,NaN,2
1,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,1144,2
2,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,1145,2
3,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,1146,2
4,Ciudad Autonoma de Buenos Aires,5001,Ciudad Autonoma de Buenos Aires,1147,2

Observamos si todos los Códigos Postales de nuestro DataFrame original se encuentran en los objetos del merge.

In [37]:
df_cp = df_cp[~df_cp['cp'].isnull()]
df_cp.isna().sum()

provincia       0
id              0
localidad       0
cp              0
id_prov_mstr    0
dtype: int64

In [38]:
pd.DataFrame({'Provincias': df_cp['provincia'].unique()})\
    .sort_values(by='Provincias',ascending=True)\
    .reset_index().drop(columns=['index'])

                         Provincias
0                      Buenos Aires
1                         Catamarca
2                             Chaco
3                            Chubut
4   Ciudad Autonoma de Buenos Aires
5                           Cordoba
6                        Corrientes
7                        Entre Rios
8                           Formosa
9                             Jujuy
10                         La Pampa
11                         La Rioja
12                          Mendoza
13                         Misiones
14                          Neuquen
15                        Rio Negro
16                            Salta
17                         San Juan
18                         San Luis
19                       Santa Cruz
20                         Santa Fe
21              Santiago del Estero
22                 Tierra del Fuego
23                          Tucuman

In [39]:
df_cp.loc[df_cp['provincia'] == 'Ciudad Autonoma de Buenos Aires', 'provincia'] = 'CAPITAL FEDERAL'
df_cp.loc[df_cp['provincia'] == 'Santiago del Estero', 'provincia'] = 'SGO DEL ESTERO'
df_cp['provincia'].unique()

array(['CAPITAL FEDERAL', 'Buenos Aires', 'Catamarca', 'Cordoba',
       'Corrientes', 'Chaco', 'Chubut', 'Entre Rios', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquen',
       'Rio Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'SGO DEL ESTERO', 'Tucuman', 'Tierra del Fuego'],
      dtype=object)

In [40]:
df_cp.loc[:,'provincia'] = df_cp['provincia'].str.upper()
df_cp.loc[:,'localidad'] = df_cp['localidad'].str.upper()
df_cp[['provincia','localidad']].drop_duplicates()

              provincia                        localidad
1       CAPITAL FEDERAL  CIUDAD AUTONOMA DE BUENOS AIRES
456        BUENOS AIRES                    COLONIA VELEZ
457        BUENOS AIRES                            SPURR
458        BUENOS AIRES                          SPERONI
459        BUENOS AIRES                         SPERATTI
...                 ...                              ...
23234  TIERRA DEL FUEGO               ESTANCIA SAN JULIO
23235  TIERRA DEL FUEGO               ESTANCIA SAN JUSTO
23236  TIERRA DEL FUEGO              ESTANCIA SAN MARTIN
23237  TIERRA DEL FUEGO                ESTANCIA RIO EWAN
23238  TIERRA DEL FUEGO              ESTANCIA LOS CERROS

[20543 rows x 2 columns]

In [41]:
df_cp = df_cp.rename(columns={'provincia': 'provincia_0'})
df_cp.head()

       provincia_0    id                        localidad    cp  id_prov_mstr
1  CAPITAL FEDERAL  5001  CIUDAD AUTONOMA DE BUENOS AIRES  1144             2
2  CAPITAL FEDERAL  5001  CIUDAD AUTONOMA DE BUENOS AIRES  1145             2
3  CAPITAL FEDERAL  5001  CIUDAD AUTONOMA DE BUENOS AIRES  1146             2
4  CAPITAL FEDERAL  5001  CIUDAD AUTONOMA DE BUENOS AIRES  1147             2
5  CAPITAL FEDERAL  5001  CIUDAD AUTONOMA DE BUENOS AIRES  1148             2

In [42]:
df.shape

(124010, 44)

Procedemos a hacer el merge de los datasets, a través de la columna cp (Codigo Postal)

In [43]:
# Unimos por cp, eliminamos duplicados, conservamos solo cps del dataframe original
df = df.merge(df_cp[['provincia_0','localidad','cp']].drop_duplicates(subset=['cp'], keep='first'), 
                           how='left',
                           left_on = 'domicilio_codigo_postal', 
                           right_on = 'cp')\
                    .drop(columns= ['cp'])
df.head()

,dni_titular_movimiento,moneda_movimiento,id_comercio_movimiento,nombre_comercio_histo,numero_cupon_movimiento,debito_credito_movimiento,producto_naranja_movimiento,codigo_empresa_movimiento,tipo_producto_tarjeta_movimiento,plan_movimiento,...,rel_vivienda_descripcion_histo,anio_mes_cupon,monto_ajustado,nombre_comercio_concat,cargo_sector_desc_hist,edad_cliente,antig_cliente,comercio_cat,provincia_0,localidad
0,0001686b52949b5461ffcbc766687e45031,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Propia,202008,5.52,INTERES POR MORA US,Sector_Empleado_Comercio,61,92,0,BUENOS AIRES,LA TABLADA
1,000220fa96ec5af89817894033f8099c547,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Sin_Datos,202008,15.68,INTERES POR MORA US,Sector_Sin_Datos,29,2,0,MENDOZA,VILLA NUEVA
2,0002be202de47dfae9cc2304d91161be595,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Otros,202008,5.46,INTERES POR MORA US,Sector_Sin_Datos,28,95,0,BUENOS AIRES,SANTA TERESITA
3,000e137d0af42e193be1ff670c00d4d1506,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Propia,202008,2.50,INTERES POR MORA US,Sector_Empleado_Comercio,40,151,0,SANTA FE,SAN LORENZO
4,0009d010e4faf69552a814a33832b185877,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Alquilada,202008,2.10,INTERES POR MORA US,Sector_Empleado_Comercio,36,87,0,CAPITAL FEDERAL,CIUDAD AUTONOMA DE BUENOS AIRES

In [44]:
df.loc[df['provincia'].isnull(), 'provincia'] = df['provincia_0'].str.upper()
df.loc[df['ciudad'].isnull(), 'ciudad'] = df['localidad'].str.upper()

In [45]:
df = df.drop(columns=['provincia_0','localidad'])

In [46]:
df[col_geo].isna().sum()

domicilio_codigo_postal     677
pais                       3092
provincia                   677
ciudad                      697
domicilio_barrio            839
dtype: int64

##### Conclusiones y decisiones

* La columna **pais** tiene una sola categoria: 'Argentina'. Sabiendo que todas los registros de la columna **provincia** que tienen datos pertenecen al territorio argentino, se puede descartar ya que no aporta información.
* La columna **domicilio_barrio** no aporta mayor información a la que ya se obtiene con el resto de las columnas geograficas, por lo que tambien se descarta. 
* Los filas con valores faltantes en las columnas **domicilio_codigo_postal**, **provincia** y **ciudad** se eliminan ya que no se pueden recuperar.

In [47]:
df.drop(columns=['pais','domicilio_barrio'], inplace=True)

In [48]:
df = df[(~df['domicilio_codigo_postal'].isnull())]
df.shape

(123333, 42)

In [49]:
df.isna().sum()

dni_titular_movimiento                  0
moneda_movimiento                       0
id_comercio_movimiento                  0
nombre_comercio_histo                   0
numero_cupon_movimiento                 0
debito_credito_movimiento               0
producto_naranja_movimiento             0
codigo_empresa_movimiento               0
tipo_producto_tarjeta_movimiento        0
plan_movimiento                         0
fecha_vto_cupon_movimiento              0
fecha_presentacion_movimiento           0
fecha_cupon_movimiento                  0
monto_compra_movimiento                 0
importe_cuota_movimiento                0
interes_movimiento                      0
cargo_adm_seguro_movimiento             0
cargo_otorgamiento_movimiento           0
cargo_seguro_vida_movimiento            0
cargo_administrativo_movimiento         0
seleccionado_ng                         0
codigo_contable_movimiento              0
local_venta_producto                    0
marca_debito_automatico                 0
id_comercio_otras_marcas_movimiento     0
fecha_nacimiento                        0
estado_civil_descripcion                0
sexo_descripcion                        0
provincia                               0
ciudad                                 20
domicilio_codigo_postal                 0
fecha_de_ingreso_histo                  0
cargo_descripcion_histo                 0
nivel_estudio_descripcion_histo         0
rel_vivienda_descripcion_histo          0
anio_mes_cupon                          0
monto_ajustado                          0
nombre_comercio_concat                  0
cargo_sector_desc_hist                  0
edad_cliente                            0
antig_cliente                           0
comercio_cat                            0
dtype: int64

#### 1.2 Eliminación de filas duplicadas

Habiendo imputados todos los valores faltantes, eliminamos aquellas filas que se encuentran duplicadas.

In [50]:
df = df[~df.duplicated()]

In [51]:
df.shape

(64897, 42)

#### 1.3 Valores Atípicos

En este punto, se remite al análisis efectuado en el Trabajo Práctico N° 2 punto 3.2. A diferencia de lo trabajado con los modelos de Aprendizaje Supervisado, en este caso consideramos conveniente quedarnos con aquellas filas con consumos pocos frecuentes, al igual que edad y antigüedad, ya que si bien la probabilidad de aparición en el futuro es baja, son datos que nos permiten conocer mejor a nuestro cliente.  

En el caso de los productos que son considedos montos fijos, si creemos prudente eliminarlos, ya que no es el objetivo de esta mentoría realizar una predicción respecto a ellos.

In [52]:
df = df[~df['producto_naranja_movimiento'].isin(['AV','SM'])]

##### Fechas

In [53]:
#df.fecha_cupon_movimiento = df.fecha_cupon_movimiento.apply(pd.to_datetime)

In [54]:
print('Cantidad de casos antes de Abril 2020:', len(df[df['fecha_cupon_movimiento'] < pd.to_datetime('2020-04-01')]))
print('Cantidad de casos antes de Mayo 2020:', len(df[df['fecha_cupon_movimiento'] < pd.to_datetime('2020-05-01')]))
print('Cantidad de casos antes de Junio 2020:', len(df[df['fecha_cupon_movimiento'] < pd.to_datetime('2020-06-01')]))
print('Cantidad de casos antes de Julio 2020:', len(df[df['fecha_cupon_movimiento'] < pd.to_datetime('2020-07-01')]))
print('Cantidad de casos antes de Agosto 2020:', len(df[df['fecha_cupon_movimiento'] < pd.to_datetime('2020-08-01')]))

Cantidad de casos antes de Abril 2020: 1
Cantidad de casos antes de Mayo 2020: 2
Cantidad de casos antes de Junio 2020: 3
Cantidad de casos antes de Julio 2020: 7
Cantidad de casos antes de Agosto 2020: 900

In [55]:
print('Cantidad de casos despues de Abril 2021:', len(df[df['fecha_cupon_movimiento'] > pd.to_datetime('2021-04-01')]))
print('Cantidad de casos despues de Mayo 2021:', len(df[df['fecha_cupon_movimiento'] > pd.to_datetime('2021-05-01')]))
print('Cantidad de casos despues de Junio 2021:', len(df[df['fecha_cupon_movimiento'] > pd.to_datetime('2021-06-01')]))

Cantidad de casos despues de Abril 2021: 6194
Cantidad de casos despues de Mayo 2021: 448
Cantidad de casos despues de Junio 2021: 0

A pesar de que más adelante se realizará un balanceo de registros en los diferentes meses, observamos que la cantidad de transacciones en los meses previos a Julio del 2020, son demasiados bajos para ser consideramos en nuestros modelos de predicción. 

Haciendo un cálculo similar a los ultimos meses analizados, vemos que Mayo y Abril del 2021 están bien representados, por lo que se decide conservarlos.

In [56]:
df = df[df['fecha_cupon_movimiento'] > pd.to_datetime('2020-07-01')]

In [57]:
df.shape

(60523, 42)

#### 1.4 Variables categoricas (Reagrupación)

##### Estado Civil

In [58]:
df.estado_civil_descripcion.value_counts()

Solteroa               29292
Casadoa                23218
Divorciadoa             2443
Viudoa                  2193
Separacion de hecho     1333
Concubinoa              1308
Sin Datos                680
Novioa                    56
Name: estado_civil_descripcion, dtype: int64

Observamos que existe una alta frecuencia en las categorías Solteros y Casados, perdiendo representativadad en el resto de los estados civiles, por lo cual decidimos agrupar a la mismas en una misma categoría.

In [59]:
soltero = ['Solteroa']
casado = ['Casadoa']
otros = ['Divorciadoa','Viudoa','Concubinoa','Separacion de hecho','Novioa']
sin_datos = ['Sin Datos']

df.loc[df['estado_civil_descripcion'].str.contains('|'.join(soltero)),'estado_civil_cat'] = 'Soltero'
df.loc[df['estado_civil_descripcion'].str.contains('|'.join(casado)),'estado_civil_cat'] = 'Casado'
df.loc[df['estado_civil_descripcion'].str.contains('|'.join(otros)),'estado_civil_cat'] = 'Otros'
df.loc[df['estado_civil_descripcion'].str.contains('|'.join(sin_datos)),'estado_civil_cat'] = 'Sin_datos'

In [60]:
df.estado_civil_cat.value_counts()

Soltero      29292
Casado       23218
Otros         7333
Sin_datos      680
Name: estado_civil_cat, dtype: int64

##### Provincias por Regiones

In [61]:
df[['provincia']].groupby(by=['provincia']).size()\
                .to_frame()\
                .reset_index(level=['provincia'])\
                .rename(columns = {0:'Cantidad_Transacciones'})\
                .sort_values(by='Cantidad_Transacciones',ascending=False)

           provincia  Cantidad_Transacciones
5            CORDOBA                   11992
0       BUENOS AIRES                    9816
20          SANTA FE                    4507
23           TUCUMAN                    4417
12           MENDOZA                    3852
4             CHUBUT                    2570
3              CHACO                    2331
6         CORRIENTES                    2260
1    CAPITAL FEDERAL                    1908
7         ENTRE RIOS                    1824
16             SALTA                    1762
14           NEUQUEN                    1731
21    SGO DEL ESTERO                    1436
9              JUJUY                    1369
8            FORMOSA                    1340
2          CATAMARCA                    1319
11          LA RIOJA                    1290
18          SAN LUIS                     972
13          MISIONES                     933
15         RIO NEGRO                     897
17          SAN JUAN                     867
19        SANTA CRUZ                     601
10          LA PAMPA                     272
22  TIERRA DEL FUEGO                     257

Viendo las frecuencias por provincias, vamos a recategorizar sobre una nueva columna, las provincias por regiones.

In [62]:
dic_region = {'REGION_NOROESTE': ['JUJUY','SALTA','TUCUMAN','CATAMARCA','SGO DEL ESTERO'],
              'REGION_NORDESTE': ['CHACO','FORMOSA','CORRIENTES','MISIONES'], 
              'REGION_PAMPEANA': ['CORDOBA','BUENOS AIRES','CAPITAL FEDERAL','ENTRE RIOS','LA PAMPA','SANTA FE'], 
              'REGION_CUYO': ['SAN JUAN','SAN LUIS','LA RIOJA','MENDOZA'], 
              'REGION_PATAGONIA': ['SANTA CRUZ','TIERRA DEL FUEGO','RIO NEGRO','NEUQUEN','CHUBUT'],
              'SIN_DATOS': ['Sin Datos']}

df['region']= df['provincia']
for i in dic_region:
    df['region'] = df['region'].replace(dic_region[i], i)
df.head()

,dni_titular_movimiento,moneda_movimiento,id_comercio_movimiento,nombre_comercio_histo,numero_cupon_movimiento,debito_credito_movimiento,producto_naranja_movimiento,codigo_empresa_movimiento,tipo_producto_tarjeta_movimiento,plan_movimiento,...,rel_vivienda_descripcion_histo,anio_mes_cupon,monto_ajustado,nombre_comercio_concat,cargo_sector_desc_hist,edad_cliente,antig_cliente,comercio_cat,estado_civil_cat,region
0,0001686b52949b5461ffcbc766687e45031,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Propia,202008,5.52,INTERES POR MORA US,Sector_Empleado_Comercio,61,92,0,Otros,REGION_PAMPEANA
1,000220fa96ec5af89817894033f8099c547,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Sin_Datos,202008,15.68,INTERES POR MORA US,Sector_Sin_Datos,29,2,0,Sin_datos,REGION_CUYO
2,0002be202de47dfae9cc2304d91161be595,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Otros,202008,5.46,INTERES POR MORA US,Sector_Sin_Datos,28,95,0,Soltero,REGION_PAMPEANA
3,000e137d0af42e193be1ff670c00d4d1506,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Propia,202008,2.50,INTERES POR MORA US,Sector_Empleado_Comercio,40,151,0,Soltero,REGION_PAMPEANA
4,0009d010e4faf69552a814a33832b185877,0,020099784,INTERES POR MORA US,200813,0,PL,1,0,1,...,Alquilada,202008,2.10,INTERES POR MORA US,Sector_Empleado_Comercio,36,87,0,Soltero,REGION_PAMPEANA

In [63]:
df[['region']].groupby(by=['region']).size()

region
REGION_CUYO          6981
REGION_NORDESTE      6864
REGION_NOROESTE     10303
REGION_PAMPEANA     30319
REGION_PATAGONIA     6056
dtype: int64

In [64]:
df.shape

(60523, 44)

#### 1.5 Selección de columnas

Algunas columnas se eliminaron en analisis anteriores. Procedemos a seleccionar las columnas que mejor nos ayudaran a predecir la próxima compra para modelos de aprendizaje no supervisado, donde el objetivo es lograr la mejor caracterización del cliente tipo.

* **dni_titular_movimiento: Se conserva por ser ID único de cliente**
* **moneda_movimiento: Se conserva para identificar consumos en moneda extranjera**
* id_comercio_movimiento: Se descarta porque conservamos comercio_cat que surge a partir de esta misma variable
* nombre_comercio_histo: Se descarta por usar comercio_cat
* numero_cupon_movimiento: Se descarta por no aportar informacion util a la predicción de la compra
* debito_credito_movimiento: Solo permite diferenciar movimientos positivos de negativos, informacion presente en la variable monto.
* **producto_naranja_movimiento: Se conserva**
* codigo_empresa_movimiento: Se descarta por no aportar informacion util a la predicción de la compra
* **tipo_producto_tarjeta_movimiento: Se conserva**
* plan_movimiento: Se descarta por no aportar informacion util a la predicción de la compra
* fecha_cupon_movimiento: Se elimina porque se conserva año_mes_cupon. 
* monto_compra_movimiento: Se descarta, ya que se conserva monto_ajustado, que es el resultado de su transformación
* importe_cuota_movimiento: Se descarta por su fuerte correlación con monto_compra_movimiento
* interes_movimiento: Se descarta por su falta de datos significativos
* cargo_adm_seguro_movimiento, cargo_otorgamiento_movimiento, cargo_seguro_vida_movimiento, cargo_administrativo_movimiento: Se descartan por tener mayoria de datos en 0.
* seleccionado_ng: Se descarta por no representar nada significativo
* codigo_contable_movimiento: Se descarta por su baja interpretabilidad
* local_venta_producto: Se descarta por aportar la misma información que id_comercio_movimiento
* marca_debito_automatico: Se descarta por no aportar informacion util a la predicción de la compra
* id_comercio_otras_marcas_movimiento: Se descarta por tener mayoria de datos en 0 y una correlación fuerte con id_comercio
* estado_civil_descripcion: Se descarta por recategorización
* **sexo_descripcion: Se conserva**  
* provincia: Se descarta por recategorizacion en regiones
* ciudad: Se descarta para tener un analisis geografico limitado hasta regiones
* **domicilio_codigo_postal:  Se conserva**  
* fecha_de_ingreso_histo: Se descarta porque su único objetivo era calcular la antigüedad del cliente
* fecha_presentacion_movimiento: Se descarta por su fuerte correlación con fecha_cupon_movimiento
* fecha_vto_cupon_movimiento: Se descarta por su fuerte correlación con fecha_cupon_movimiento
* cargo_descripcion_histo: Se descarta por recategorizacion
* **nivel_estudio_descripcion_histo: Se conserva**
* **rel_vivienda_descripcion_histo: Se conserva**

In [65]:
df_final = df[['dni_titular_movimiento', 'moneda_movimiento', 'producto_naranja_movimiento', 'tipo_producto_tarjeta_movimiento',
               'anio_mes_cupon', 'sexo_descripcion', 'monto_ajustado',
               'cargo_sector_desc_hist', 'edad_cliente', 'antig_cliente', 'comercio_cat', 
               'estado_civil_cat', 'region','nivel_estudio_descripcion_histo','rel_vivienda_descripcion_histo',
               'domicilio_codigo_postal', 'fecha_cupon_movimiento']]

In [66]:
df_final.shape

(60523, 17)

#### 1.6 Codificación de variables

Las variables categóricas relativas a datos personales de los clientes van a ser codificadas utilizando el método mean - encofing, por tal motivo en este apartado procedemos a separarlas del dataset a codificar mediante One - Hot. 

Dichas variables son: 'sexo_descripcion', 'cargo_sector_desc_hist','estado_civil_cat', 'region','nivel_estudio_descripcion_histo','rel_vivienda_descripcion_histo'

In [67]:
df_cliente = df_final[['dni_titular_movimiento', 'sexo_descripcion', 'cargo_sector_desc_hist', 
               'estado_civil_cat', 'region','nivel_estudio_descripcion_histo','rel_vivienda_descripcion_histo']].drop_duplicates()
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia
1,000220fa96ec5af89817894033f8099c547,Mujer,Sector_Sin_Datos,Sin_datos,REGION_CUYO,Sin_Datos,Sin_Datos
2,0002be202de47dfae9cc2304d91161be595,Mujer,Sector_Sin_Datos,Soltero,REGION_PAMPEANA,PRIMARIOS,Otros
3,000e137d0af42e193be1ff670c00d4d1506,Hombre,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia
4,0009d010e4faf69552a814a33832b185877,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Alquilada
...,...,...,...,...,...,...,...
58572,000cd61ab767bc36fd3ba59abfb906ce716,Hombre,Sector_Sin_Datos,Casado,REGION_PATAGONIA,SECUNDARIOS,Sin_Datos
58574,000cc8a8d027dd2166cbc08fe3de32e1388,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Otros
58575,000793cd3003b11580f438ba2db736fa519,Hombre,Sector_Sin_Datos,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia
58577,00046eba940afb377b3e92f535de960f790,Hombre,Sector_Sin_Datos,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia
59081,00066aa83719a68cdaf7d7ffced8c9bc996,Mujer,Sector_Sin_Datos,Soltero,REGION_CUYO,Sin_Datos,Sin_Datos

In [68]:
df_final.drop(columns=['sexo_descripcion', 'cargo_sector_desc_hist', 
               'estado_civil_cat', 'region','nivel_estudio_descripcion_histo','rel_vivienda_descripcion_histo'], inplace=True)
df_final

,dni_titular_movimiento,moneda_movimiento,producto_naranja_movimiento,tipo_producto_tarjeta_movimiento,anio_mes_cupon,monto_ajustado,edad_cliente,antig_cliente,comercio_cat,domicilio_codigo_postal,fecha_cupon_movimiento
0,0001686b52949b5461ffcbc766687e45031,0,PL,0,202008,5.52,61,92,0,1766,2020-08-25
1,000220fa96ec5af89817894033f8099c547,0,PL,0,202008,15.68,29,2,0,5521,2020-08-25
2,0002be202de47dfae9cc2304d91161be595,0,PL,0,202008,5.46,28,95,0,7107,2020-08-25
3,000e137d0af42e193be1ff670c00d4d1506,0,PL,0,202008,2.50,40,151,0,2200,2020-08-25
4,0009d010e4faf69552a814a33832b185877,0,PL,0,202008,2.10,36,87,0,1019,2020-08-25
...,...,...,...,...,...,...,...,...,...,...,...
124000,0002716f6d9c2130a8c88a0219de234d459,0,PC,3,202105,9661.01,46,93,0,4181,2021-05-14
124003,0001f61dd2845a7e653ebfdaf22dab3b373,0,PC,3,202105,20329.24,48,98,0,8300,2021-05-14
124005,0006c15ca823454b68c189da1344d9d7317,0,PC,3,202105,13210.67,66,105,0,3503,2021-05-14
124006,0000ab27a0ed815f947df8bcb834ff97975,0,PC,3,202105,121.73,74,140,0,4200,2021-05-03
124007,0000ab27a0ed815f947df8bcb834ff97975,0,PC,3,202105,12284.16,74,140,0,4200,2021-05-03

In [69]:
#renombrado de las features
dic_tipo_prod = {42: 'American_express', 44: 'American_express_gold', 0: 'Clasica', 32: 'Master_internacional',
    31: 'Master_nacional', 3: 'Naranja', 4: 'Naranja_virtual', 24: 'Naranja_visa_mini_int.', 23: 'Naranja_visa_mini_nac.',
    12: 'Naranja_visa_internac.', 11: 'Naranja_visa_nacional', -1: 'Sin_Datos', 22: 'Visa_internacional', 21: 'Visa_nacional'}
dic_monedas = {0: 'Pesos',1: 'Dolares',3: 'Zeta'}
df_final.tipo_producto_tarjeta_movimiento = df_final.tipo_producto_tarjeta_movimiento.replace(dic_tipo_prod)
df_final.moneda_movimiento = df_final.moneda_movimiento.replace(dic_monedas)

df_final = df_final.rename({'domicilio_codigo_postal': 'client_domicilio_codigo_postal', 
                            'edad_cliente': 'client_edad', 'antig_cliente': 'client_antig'}, axis=1)

In [70]:
# A efectos de corroborar la cantidad de columnas de nuestra matriz

#print("sexo_descripcion", df_final.sexo_descripcion.nunique())
#print("cargo_sector_desc_hist", df_final.cargo_sector_desc_hist.nunique())
#print("estado_civil_cat", df_final.estado_civil_cat.nunique())
#print("region", df_final.region.nunique())
print("comercio_cat", df_final.comercio_cat.nunique())
print("producto_naranja_movimiento", df_final.producto_naranja_movimiento.nunique())
print("moneda_movimiento", df_final.moneda_movimiento.nunique())
print("tipo_producto_tarjeta_movimiento", df_final.tipo_producto_tarjeta_movimiento.nunique())
#print("nivel_estudio_descripcion_histo", df_final.nivel_estudio_descripcion_histo.nunique())
#print("rel_vivienda_descripcion_histo", df_final.rel_vivienda_descripcion_histo.nunique())

comercio_cat 10
producto_naranja_movimiento 10
moneda_movimiento 3
tipo_producto_tarjeta_movimiento 6

In [71]:
ordinal_ft = 'dni_titular_movimiento'
target = 'monto_ajustado'
#target_c = 'fg_aumentado'

# Features numericas
num_features = ['anio_mes_cupon', 'client_edad', 'client_antig', 'client_domicilio_codigo_postal', 'fecha_cupon_movimiento']

# Features categoricas de la transaccion
trans_ft = ['producto_naranja_movimiento', 'tipo_producto_tarjeta_movimiento', 'moneda_movimiento', 'comercio_cat']

# Features categoricas del cliente
#client_ft = ['sexo_descripcion', 'cargo_sector_desc_hist', 'estado_civil_cat', 'region', 'nivel_estudio_descripcion_histo', 
#             'rel_vivienda_descripcion_histo']

In [72]:
# Ordenamos por fecha
df_final = df_final.sort_values(by = ['fecha_cupon_movimiento'], ascending = True)
df_cod = df_final.copy()
# Transformacion de fecha a numerica
df_cod['fecha_cupon_movimiento'] = df_cod['fecha_cupon_movimiento'].values.astype(float)/10**11
# Transformacion de tipo de moneda a string
df_cod['moneda_movimiento'] = df_cod['moneda_movimiento'].astype(str)

# Codificación
cat_transformer = OneHotEncoder(handle_unknown='ignore')

encoder = ColumnTransformer(sparse_threshold=0,
    transformers=[
        ('dni', 'drop', [ordinal_ft]),
        ('num', 'passthrough', num_features),
        ('trans', cat_transformer , trans_ft),
       # ('client', cat_transformer , client_ft),
        ('target', 'passthrough', [target])])
df_enc = encoder.fit_transform(df_cod)
cols = encoder.get_feature_names()

In [73]:
# Agregar feature ordinal al principio del dataframe

dff_enc = pd.DataFrame(df_enc, columns=[cols])
cols_o = np.hstack([[ordinal_ft],cols])
df_stack = np.hstack([df_cod[[ordinal_ft]],dff_enc])
df_encode = pd.DataFrame(df_stack , columns=cols_o)

In [74]:
df_encode.columns

Index(['dni_titular_movimiento', 'anio_mes_cupon', 'client_edad',
       'client_antig', 'client_domicilio_codigo_postal',
       'fecha_cupon_movimiento', 'trans__x0_AX', 'trans__x0_EX',
       'trans__x0_MC', 'trans__x0_PC', 'trans__x0_PL', 'trans__x0_PN',
       'trans__x0_PP', 'trans__x0_TA', 'trans__x0_VI', 'trans__x0_ZE',
       'trans__x1_American_express', 'trans__x1_Clasica',
       'trans__x1_Master_internacional', 'trans__x1_Naranja',
       'trans__x1_Naranja_virtual', 'trans__x1_Visa_internacional',
       'trans__x2_Dolares', 'trans__x2_Pesos', 'trans__x2_Zeta', 'trans__x3_0',
       'trans__x3_1', 'trans__x3_2', 'trans__x3_3', 'trans__x3_4',
       'trans__x3_5', 'trans__x3_6', 'trans__x3_7', 'trans__x3_8',
       'trans__x3_9', 'monto_ajustado'],
      dtype='object')

## 2. Agrupamiento/Balanceo

### 2.1 Agrupamiento de transacciones por Cliente, Mes, Producto Naranja y Tipo de producto¶

Procedemos a agrupar las transacciones de los clientes por mes, producto y tipo de producto, debido a que el objeto de esta mentoría es predecir tendencias de consumo mensuales de los diferentes clientes. Aquellas variables que refieren a los datos personales, fueron tomadas por su valor único.

In [75]:
# Funciones de agregacion para cada columna
aggr = {} 
aggr.update(dict.fromkeys([x for x in cols if 'client' in x], 'max'))
aggr.update(dict.fromkeys([x for x in cols if 'trans' in x], 'sum'))
#aggr.update(dict.fromkeys([x for x in num_features], 'max'))
aggr.update({target:'sum'})

# Convertimos las columnas categoricas de la transaccion a numericas para poder sumarizarlas
df_encode[num_features + [x for x in cols if 'trans' in x]] = \
df_encode[num_features + [x for x in cols if 'trans' in x]].apply(pd.to_numeric)

# Agrupamiento
group = ['dni_titular_movimiento', 'anio_mes_cupon']

df_mes = df_encode.groupby(group).agg(aggr).reset_index() # edad y antiguedad

In [76]:
df_mes

,dni_titular_movimiento,anio_mes_cupon,client_edad,client_antig,client_domicilio_codigo_postal,trans__x0_AX,trans__x0_EX,trans__x0_MC,trans__x0_PC,trans__x0_PL,...,trans__x3_1,trans__x3_2,trans__x3_3,trans__x3_4,trans__x3_5,trans__x3_6,trans__x3_7,trans__x3_8,trans__x3_9,monto_ajustado
0,000000b5aea2c9ea7cc155f6ebcef97f826,202008,46,225,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.72
1,000000b5aea2c9ea7cc155f6ebcef97f826,202009,47,226,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.61
2,000000b5aea2c9ea7cc155f6ebcef97f826,202010,47,227,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.46
3,000000b5aea2c9ea7cc155f6ebcef97f826,202011,47,228,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.34
4,000000b5aea2c9ea7cc155f6ebcef97f826,202012,47,229,3000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7506,000f0b73ebfa002a79a0642b82e87919904,202101,64,21,5730,0.0,0.0,0.0,0.0,5.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,11616.45
7507,000f0b73ebfa002a79a0642b82e87919904,202102,64,22,5730,0.0,0.0,0.0,0.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12566.68
7508,000f0b73ebfa002a79a0642b82e87919904,202103,64,23,5730,0.0,0.0,0.0,0.0,5.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2663.08
7509,000f0b73ebfa002a79a0642b82e87919904,202104,64,24,5730,0.0,0.0,0.0,0.0,6.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5660.76
7510,000f0b73ebfa002a79a0642b82e87919904,202105,64,25,5730,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2063.81

### 2.2 Balanceo de meses

Corroboramos que existen algunos clientes que no tienen movimientos todos los meses, por lo cuál procedemos a generar esas filas para balancear el dataset

In [77]:
df_mes[['dni_titular_movimiento','anio_mes_cupon']].groupby(['dni_titular_movimiento']).size().value_counts()

10    327
11    187
9     158
5      42
4      24
8      21
1      16
6      16
3      15
7      15
2      13
dtype: int64

In [78]:
print('Cantidad de Meses por Titular (Final):',df_mes['dni_titular_movimiento'].nunique() * df_mes['anio_mes_cupon'].nunique())
print('Shape Dataframe:', df_mes.shape)

Cantidad de Meses por Titular (Final): 10008
Shape Dataframe: (7511, 35)

In [79]:
array_mes = df_mes.anio_mes_cupon.sort_values().unique()
array_dni = df_mes.dni_titular_movimiento.unique()

dic = {'dni': [], 'mes': []}
for dni in array_dni:
    for mes in array_mes:
        dic['dni'].append(dni)
        dic['mes'].append(mes)

df_mes_imp = pd.merge(pd.DataFrame(dic), 
                      df_mes, 
                      left_on=['dni','mes'], 
                      right_on=['dni_titular_movimiento','anio_mes_cupon'], 
                      how='left') \
                .drop(columns=['dni_titular_movimiento','anio_mes_cupon'])
df_mes_imp = df_mes_imp.rename(columns={'dni': 'dni_titular_movimiento','mes': 'anio_mes_cupon'})
df_mes_imp

,dni_titular_movimiento,anio_mes_cupon,client_edad,client_antig,client_domicilio_codigo_postal,trans__x0_AX,trans__x0_EX,trans__x0_MC,trans__x0_PC,trans__x0_PL,...,trans__x3_1,trans__x3_2,trans__x3_3,trans__x3_4,trans__x3_5,trans__x3_6,trans__x3_7,trans__x3_8,trans__x3_9,monto_ajustado
0,000000b5aea2c9ea7cc155f6ebcef97f826,202007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000000b5aea2c9ea7cc155f6ebcef97f826,202008,46.0,225.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.72
2,000000b5aea2c9ea7cc155f6ebcef97f826,202009,47.0,226.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.61
3,000000b5aea2c9ea7cc155f6ebcef97f826,202010,47.0,227.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.46
4,000000b5aea2c9ea7cc155f6ebcef97f826,202011,47.0,228.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10003,000f0b73ebfa002a79a0642b82e87919904,202102,64.0,22.0,5730.0,0.0,0.0,0.0,0.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12566.68
10004,000f0b73ebfa002a79a0642b82e87919904,202103,64.0,23.0,5730.0,0.0,0.0,0.0,0.0,5.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2663.08
10005,000f0b73ebfa002a79a0642b82e87919904,202104,64.0,24.0,5730.0,0.0,0.0,0.0,0.0,6.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5660.76
10006,000f0b73ebfa002a79a0642b82e87919904,202105,64.0,25.0,5730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2063.81
10007,000f0b73ebfa002a79a0642b82e87919904,202106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
print('Shape Dataframe:', df_mes.shape)

Shape Dataframe: (7511, 35)

In [81]:
str_dni_tit = 'dni_titular_movimiento'
str_mes = 'anio_mes_cupon'

# Imputamos 0 en las columnas de la transacción que tienen nan
cols = df_mes_imp.columns.values
cols_zero = [x for x in cols if 'trans' in x]
cols_zero.append('monto_ajustado')
df_mes_imp[cols_zero] = df_mes_imp[cols_zero].fillna(0)

# Imputamos lo valores propios del cliente
cols_client = [x for x in cols if ('client_' in x) & ('antig' not in x) & ('edad' not in x)]
cols_client_imp = cols_client.copy()
cols_client_imp.append(str_dni_tit)

data_mes = df_mes_imp[cols_client_imp].dropna().drop_duplicates().reset_index().drop(columns='index')
df_imputer = df_mes_imp.drop(columns=cols_client).copy()

# Imputamos los datos del cliente y ordenamos
df_mes_imp = df_imputer.merge(data_mes, on=str_dni_tit)[cols].sort_values(by=[ str_dni_tit , str_mes ]).reset_index().drop(columns=['index'])

# Imputamos antigüedad
for dni in array_dni:
    min_mes = df_mes_imp[(df_mes_imp['dni_titular_movimiento'] == dni) & (~df_mes_imp.client_antig.isna())]['anio_mes_cupon'].min()
    min_ant = df_mes_imp[(df_mes_imp['dni_titular_movimiento'] == dni) & (~df_mes_imp.client_antig.isna())]['client_antig'].min()
    for mes in array_mes:
        num_res = array_mes.tolist().index(mes) - array_mes.tolist().index(min_mes)
        antig_cli = min_ant + num_res
        if antig_cli < 0:
            df_mes_imp.loc[((df_mes_imp['dni_titular_movimiento'] == dni) & (df_mes_imp['anio_mes_cupon'] == mes)), 'client_antig'] = 0
        else:
            df_mes_imp.loc[((df_mes_imp['dni_titular_movimiento'] == dni) & (df_mes_imp['anio_mes_cupon'] == mes)), 'client_antig'] = antig_cli

In [82]:
# Imputación Edad
df_mes_imp_eb = df_mes_imp[['dni_titular_movimiento', 'anio_mes_cupon', 'client_edad']].copy()
for dni in array_dni:
    edad = df_mes_imp_eb[df_mes_imp['dni_titular_movimiento'] == dni]['client_edad'].fillna(method='backfill')
    df_mes_imp_eb.loc[((df_mes_imp['dni_titular_movimiento'] == dni) & (df_mes_imp['client_edad'].isna())), 'client_edad'] = edad
df_mes_imp_eb = df_mes_imp_eb.rename(columns={'client_edad': 'edad_b'})

df_mes_imp_ef = df_mes_imp[['dni_titular_movimiento', 'anio_mes_cupon', 'client_edad']].copy()
for dni in array_dni:
    edad = df_mes_imp_ef[df_mes_imp['dni_titular_movimiento'] == dni]['client_edad'].fillna(method='ffill')
    df_mes_imp_ef.loc[((df_mes_imp['dni_titular_movimiento'] == dni) & (df_mes_imp['client_edad'].isna())), 'client_edad'] = edad
df_mes_imp_ef = df_mes_imp_ef.rename(columns={'client_edad': 'edad_f'})

df_mes_imp = df_mes_imp.merge(df_mes_imp_eb,
                             left_on=['dni_titular_movimiento', 'anio_mes_cupon'],
                             right_on=['dni_titular_movimiento', 'anio_mes_cupon']
                            )
df_mes_imp = df_mes_imp.merge(df_mes_imp_ef,
                             left_on=['dni_titular_movimiento', 'anio_mes_cupon'],
                             right_on=['dni_titular_movimiento', 'anio_mes_cupon']
                            )
df_mes_imp.loc[df_mes_imp['client_edad'].isna(), 'client_edad'] = df_mes_imp['edad_b']
df_mes_imp.loc[df_mes_imp['client_edad'].isna(), 'client_edad'] = df_mes_imp['edad_f']

df_mes_imp.drop(columns=['edad_b','edad_f'], inplace=True)

In [83]:
df_mes = df_mes_imp.copy()
df_mes

,dni_titular_movimiento,anio_mes_cupon,client_edad,client_antig,client_domicilio_codigo_postal,trans__x0_AX,trans__x0_EX,trans__x0_MC,trans__x0_PC,trans__x0_PL,...,trans__x3_1,trans__x3_2,trans__x3_3,trans__x3_4,trans__x3_5,trans__x3_6,trans__x3_7,trans__x3_8,trans__x3_9,monto_ajustado
0,000000b5aea2c9ea7cc155f6ebcef97f826,202007,46.0,224.0,3000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,000000b5aea2c9ea7cc155f6ebcef97f826,202008,46.0,225.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.72
2,000000b5aea2c9ea7cc155f6ebcef97f826,202009,47.0,226.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.61
3,000000b5aea2c9ea7cc155f6ebcef97f826,202010,47.0,227.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.46
4,000000b5aea2c9ea7cc155f6ebcef97f826,202011,47.0,228.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10003,000f0b73ebfa002a79a0642b82e87919904,202102,64.0,22.0,5730.0,0.0,0.0,0.0,0.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12566.68
10004,000f0b73ebfa002a79a0642b82e87919904,202103,64.0,23.0,5730.0,0.0,0.0,0.0,0.0,5.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2663.08
10005,000f0b73ebfa002a79a0642b82e87919904,202104,64.0,24.0,5730.0,0.0,0.0,0.0,0.0,6.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5660.76
10006,000f0b73ebfa002a79a0642b82e87919904,202105,64.0,25.0,5730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2063.81
10007,000f0b73ebfa002a79a0642b82e87919904,202106,64.0,26.0,5730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00

## 3. Creación de Nuevos Atributos

### 3.1 Creación de variable categórica

Creamos una columna que indica si un cliente ha aumentado su consumo personal mes a mes. El mes inicial para cada cliente se inicializa en 0.

Cabe destacar que a la hora de agrupar los movimientos en cada mes, se considera la fecha de cierre de la tarjeta, por lo cual cada mes comprende desde el dia 25 del mes anterior hasta el dia 24 del corriente, inclusive.

In [84]:
df_dni_mes_mon = df_mes[['dni_titular_movimiento', 'anio_mes_cupon','monto_ajustado']] \
                        .groupby(['dni_titular_movimiento', 'anio_mes_cupon']).sum('monto_ajustado') \
                        .reset_index() \
                        .sort_values(by=['dni_titular_movimiento', 'anio_mes_cupon'])
df_dni_mes_mon

                    dni_titular_movimiento  anio_mes_cupon  monto_ajustado
0      000000b5aea2c9ea7cc155f6ebcef97f826          202007            0.00
1      000000b5aea2c9ea7cc155f6ebcef97f826          202008           -4.72
2      000000b5aea2c9ea7cc155f6ebcef97f826          202009           -4.61
3      000000b5aea2c9ea7cc155f6ebcef97f826          202010           -4.46
4      000000b5aea2c9ea7cc155f6ebcef97f826          202011           -4.34
...                                    ...             ...             ...
10003  000f0b73ebfa002a79a0642b82e87919904          202102        12566.68
10004  000f0b73ebfa002a79a0642b82e87919904          202103         2663.08
10005  000f0b73ebfa002a79a0642b82e87919904          202104         5660.76
10006  000f0b73ebfa002a79a0642b82e87919904          202105         2063.81
10007  000f0b73ebfa002a79a0642b82e87919904          202106            0.00

[10008 rows x 3 columns]

In [85]:
# Agregación de la nueva columna seteada en 0.
# En la iteración, se le cambia el valor a 1 en caso de que cumpla con las condiciones preestablecidas.

df_dni_mes_mon['fg_aumentado'] = 0
for i in range(1,len(df_dni_mes_mon)):
    if (df_dni_mes_mon.iloc[i]['dni_titular_movimiento'] == df_dni_mes_mon.iloc[i-1]['dni_titular_movimiento']) \
        & (df_dni_mes_mon.iloc[i]['anio_mes_cupon'] > df_dni_mes_mon.iloc[i-1]['anio_mes_cupon']):
            var_mes = df_dni_mes_mon.iloc[i]['monto_ajustado'] - df_dni_mes_mon.iloc[i-1]['monto_ajustado']
            if (var_mes > (abs(df_dni_mes_mon.iloc[i-1]['monto_ajustado'])*0.1)):
                    df_dni_mes_mon.iloc[i,3] = 1

In [86]:
df_dni_mes_mon.head(20)

,dni_titular_movimiento,anio_mes_cupon,monto_ajustado,fg_aumentado
0,000000b5aea2c9ea7cc155f6ebcef97f826,202007,0.00,0
1,000000b5aea2c9ea7cc155f6ebcef97f826,202008,-4.72,0
2,000000b5aea2c9ea7cc155f6ebcef97f826,202009,-4.61,0
3,000000b5aea2c9ea7cc155f6ebcef97f826,202010,-4.46,0
4,000000b5aea2c9ea7cc155f6ebcef97f826,202011,-4.34,0
5,000000b5aea2c9ea7cc155f6ebcef97f826,202012,-4.21,0
6,000000b5aea2c9ea7cc155f6ebcef97f826,202101,-4.08,0
7,000000b5aea2c9ea7cc155f6ebcef97f826,202102,-3.97,0
8,000000b5aea2c9ea7cc155f6ebcef97f826,202103,-3.83,0
9,000000b5aea2c9ea7cc155f6ebcef97f826,202104,-3.72,0
10,000000b5aea2c9ea7cc155f6ebcef97f826,202105,-3.64,0
11,000000b5aea2c9ea7cc155f6ebcef97f826,202106,0.00,1
12,00000b8415f19846d12e852ebd0d52ec432,202007,15552.53,0
13,00000b8415f19846d12e852ebd0d52ec432,202008,5278.17,0
14,00000b8415f19846d12e852ebd0d52ec432,202009,29017.80,1
15,00000b8415f19846d12e852ebd0d52ec432,202010,10269.39,0
16,00000b8415f19846d12e852ebd0d52ec432,202011,10298.25,0
17,00000b8415f19846d12e852ebd0d52ec432,202012,23821.47,1
18,00000b8415f19846d12e852ebd0d52ec432,202101,28910.00,1
19,00000b8415f19846d12e852ebd0d52ec432,202102,4828.02,0

In [87]:
df_dni_mes_mon = df_dni_mes_mon.drop(columns=['monto_ajustado'])
df_dni_mes_mon = df_dni_mes_mon.rename(columns={'dni_titular_movimiento': 'dni_titular_movimiento_c', 'anio_mes_cupon': 'anio_mes_cupon_c'})
df_dni_mes_mon

                  dni_titular_movimiento_c  anio_mes_cupon_c  fg_aumentado
0      000000b5aea2c9ea7cc155f6ebcef97f826            202007             0
1      000000b5aea2c9ea7cc155f6ebcef97f826            202008             0
2      000000b5aea2c9ea7cc155f6ebcef97f826            202009             0
3      000000b5aea2c9ea7cc155f6ebcef97f826            202010             0
4      000000b5aea2c9ea7cc155f6ebcef97f826            202011             0
...                                    ...               ...           ...
10003  000f0b73ebfa002a79a0642b82e87919904            202102             0
10004  000f0b73ebfa002a79a0642b82e87919904            202103             0
10005  000f0b73ebfa002a79a0642b82e87919904            202104             1
10006  000f0b73ebfa002a79a0642b82e87919904            202105             0
10007  000f0b73ebfa002a79a0642b82e87919904            202106             0

[10008 rows x 3 columns]

In [88]:
df_obj = df_mes.merge( df_dni_mes_mon, 
             left_on=['dni_titular_movimiento', 'anio_mes_cupon'], 
             right_on=['dni_titular_movimiento_c', 'anio_mes_cupon_c']) \
        .drop(columns= ['dni_titular_movimiento_c','anio_mes_cupon_c'])

In [89]:
df_obj

,dni_titular_movimiento,anio_mes_cupon,client_edad,client_antig,client_domicilio_codigo_postal,trans__x0_AX,trans__x0_EX,trans__x0_MC,trans__x0_PC,trans__x0_PL,...,trans__x3_2,trans__x3_3,trans__x3_4,trans__x3_5,trans__x3_6,trans__x3_7,trans__x3_8,trans__x3_9,monto_ajustado,fg_aumentado
0,000000b5aea2c9ea7cc155f6ebcef97f826,202007,46.0,224.0,3000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0
1,000000b5aea2c9ea7cc155f6ebcef97f826,202008,46.0,225.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.72,0
2,000000b5aea2c9ea7cc155f6ebcef97f826,202009,47.0,226.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.61,0
3,000000b5aea2c9ea7cc155f6ebcef97f826,202010,47.0,227.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.46,0
4,000000b5aea2c9ea7cc155f6ebcef97f826,202011,47.0,228.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.34,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10003,000f0b73ebfa002a79a0642b82e87919904,202102,64.0,22.0,5730.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12566.68,0
10004,000f0b73ebfa002a79a0642b82e87919904,202103,64.0,23.0,5730.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2663.08,0
10005,000f0b73ebfa002a79a0642b82e87919904,202104,64.0,24.0,5730.0,0.0,0.0,0.0,0.0,6.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5660.76,1
10006,000f0b73ebfa002a79a0642b82e87919904,202105,64.0,25.0,5730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2063.81,0
10007,000f0b73ebfa002a79a0642b82e87919904,202106,64.0,26.0,5730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0

In [90]:
df_obj.shape

(10008, 36)

### 3.2 Creación de variable mes ordinal

Creamos una variable mes que nos permite mantener el orden en las transacciones realizadas por los contribuyentes.

In [91]:
df_obj['o_mes'] = df_obj.anio_mes_cupon.astype('category').cat.codes
df_obj

,dni_titular_movimiento,anio_mes_cupon,client_edad,client_antig,client_domicilio_codigo_postal,trans__x0_AX,trans__x0_EX,trans__x0_MC,trans__x0_PC,trans__x0_PL,...,trans__x3_3,trans__x3_4,trans__x3_5,trans__x3_6,trans__x3_7,trans__x3_8,trans__x3_9,monto_ajustado,fg_aumentado,o_mes
0,000000b5aea2c9ea7cc155f6ebcef97f826,202007,46.0,224.0,3000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,0
1,000000b5aea2c9ea7cc155f6ebcef97f826,202008,46.0,225.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.72,0,1
2,000000b5aea2c9ea7cc155f6ebcef97f826,202009,47.0,226.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.61,0,2
3,000000b5aea2c9ea7cc155f6ebcef97f826,202010,47.0,227.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.46,0,3
4,000000b5aea2c9ea7cc155f6ebcef97f826,202011,47.0,228.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-4.34,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10003,000f0b73ebfa002a79a0642b82e87919904,202102,64.0,22.0,5730.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12566.68,0,7
10004,000f0b73ebfa002a79a0642b82e87919904,202103,64.0,23.0,5730.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2663.08,0,8
10005,000f0b73ebfa002a79a0642b82e87919904,202104,64.0,24.0,5730.0,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5660.76,1,9
10006,000f0b73ebfa002a79a0642b82e87919904,202105,64.0,25.0,5730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2063.81,0,10
10007,000f0b73ebfa002a79a0642b82e87919904,202106,64.0,26.0,5730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0,11

### 3.3 Mean Encofing

Recordamos que tenemos las caracteristicas personales de los clientes guardas en df_cliente. Ahora vamos a realizar una codificación de esos datos utilizando la variable target fg_aumentado

In [92]:
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia
1,000220fa96ec5af89817894033f8099c547,Mujer,Sector_Sin_Datos,Sin_datos,REGION_CUYO,Sin_Datos,Sin_Datos
2,0002be202de47dfae9cc2304d91161be595,Mujer,Sector_Sin_Datos,Soltero,REGION_PAMPEANA,PRIMARIOS,Otros
3,000e137d0af42e193be1ff670c00d4d1506,Hombre,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia
4,0009d010e4faf69552a814a33832b185877,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Alquilada
...,...,...,...,...,...,...,...
58572,000cd61ab767bc36fd3ba59abfb906ce716,Hombre,Sector_Sin_Datos,Casado,REGION_PATAGONIA,SECUNDARIOS,Sin_Datos
58574,000cc8a8d027dd2166cbc08fe3de32e1388,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Otros
58575,000793cd3003b11580f438ba2db736fa519,Hombre,Sector_Sin_Datos,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia
58577,00046eba940afb377b3e92f535de960f790,Hombre,Sector_Sin_Datos,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia
59081,00066aa83719a68cdaf7d7ffced8c9bc996,Mujer,Sector_Sin_Datos,Soltero,REGION_CUYO,Sin_Datos,Sin_Datos

#### Cargo_sector_desc_hist

In [93]:
df_cliente.cargo_sector_desc_hist.value_counts()

Sector_Sin_Datos            467
Sector_Empleado_Comercio    150
Sector_Operativo             70
Sector_No_Operativo          69
Sector_Educativo             44
Sector_Seguridad             23
Sector_Financiero             8
Sector_Salud                  3
Name: cargo_sector_desc_hist, dtype: int64

In [94]:
#calculamos la suma de target para cada dni
step1 = df_obj[['dni_titular_movimiento', 'fg_aumentado']].groupby(['dni_titular_movimiento']).sum().reset_index().rename({'fg_aumentado' : 'sum_of_target'}, axis=1)
step1

                  dni_titular_movimiento  sum_of_target
0    000000b5aea2c9ea7cc155f6ebcef97f826              1
1    00000b8415f19846d12e852ebd0d52ec432              4
2    00000d109ca5a0c6b3e76295f0292c38189              1
3    000017309738c042c2ec144d5d3d3632673              6
4    00001b02afa8956b08af05c339039882046              3
..                                   ...            ...
829  000ef071e95351afc1149fa1afe4862a079              5
830  000ef0bc6859b57ec9cc7db583dd73ca697              6
831  000ef64a5f2323a3979805450f2e890c495              3
832  000eff02871f717d5c860eae9e0347a5523              5
833  000f0b73ebfa002a79a0642b82e87919904              3

[834 rows x 2 columns]

In [95]:
df_cliente = df_cliente.merge(step1, 
             left_on=['dni_titular_movimiento'], 
             right_on=['dni_titular_movimiento',])
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7
1,000220fa96ec5af89817894033f8099c547,Mujer,Sector_Sin_Datos,Sin_datos,REGION_CUYO,Sin_Datos,Sin_Datos,4
2,0002be202de47dfae9cc2304d91161be595,Mujer,Sector_Sin_Datos,Soltero,REGION_PAMPEANA,PRIMARIOS,Otros,5
3,000e137d0af42e193be1ff670c00d4d1506,Hombre,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia,4
4,0009d010e4faf69552a814a33832b185877,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Alquilada,4
...,...,...,...,...,...,...,...,...
829,000cd61ab767bc36fd3ba59abfb906ce716,Hombre,Sector_Sin_Datos,Casado,REGION_PATAGONIA,SECUNDARIOS,Sin_Datos,1
830,000cc8a8d027dd2166cbc08fe3de32e1388,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Otros,1
831,000793cd3003b11580f438ba2db736fa519,Hombre,Sector_Sin_Datos,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia,1
832,00046eba940afb377b3e92f535de960f790,Hombre,Sector_Sin_Datos,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia,1
833,00066aa83719a68cdaf7d7ffced8c9bc996,Mujer,Sector_Sin_Datos,Soltero,REGION_CUYO,Sin_Datos,Sin_Datos,1

In [96]:
step2 = df_cliente[['cargo_sector_desc_hist', 'dni_titular_movimiento']].groupby(['cargo_sector_desc_hist']).size().reset_index(name='count_of_target').sort_values(by='count_of_target')
step2

     cargo_sector_desc_hist  count_of_target
5              Sector_Salud                3
2         Sector_Financiero                8
6          Sector_Seguridad               23
0          Sector_Educativo               44
3       Sector_No_Operativo               69
4          Sector_Operativo               70
1  Sector_Empleado_Comercio              150
7          Sector_Sin_Datos              467

In [97]:
step1vs = df_cliente[['cargo_sector_desc_hist', 'sum_of_target']].groupby(['cargo_sector_desc_hist']).sum().reset_index()
step1vs

     cargo_sector_desc_hist  sum_of_target
0          Sector_Educativo            181
1  Sector_Empleado_Comercio            587
2         Sector_Financiero             29
3       Sector_No_Operativo            282
4          Sector_Operativo            264
5              Sector_Salud              7
6          Sector_Seguridad             84
7          Sector_Sin_Datos           1684

In [98]:
step3 =  step2.merge(step1vs, 
             left_on=['cargo_sector_desc_hist'], 
             right_on=['cargo_sector_desc_hist',])
step3 = pd.DataFrame(step3)
step3

     cargo_sector_desc_hist  count_of_target  sum_of_target
0              Sector_Salud                3              7
1         Sector_Financiero                8             29
2          Sector_Seguridad               23             84
3          Sector_Educativo               44            181
4       Sector_No_Operativo               69            282
5          Sector_Operativo               70            264
6  Sector_Empleado_Comercio              150            587
7          Sector_Sin_Datos              467           1684

In [99]:
df_cliente['sum_of_target'].sum()

3118

In [100]:
df_cliente.dni_titular_movimiento.nunique()

834

In [101]:
print(step3['count_of_target'].sum(), step3['sum_of_target'].sum())

834 3118

In [102]:
step3['mean_cargo'] = (step3.sum_of_target / step3.count_of_target).round(2)
step3

     cargo_sector_desc_hist  count_of_target  sum_of_target  mean_cargo
0              Sector_Salud                3              7        2.33
1         Sector_Financiero                8             29        3.62
2          Sector_Seguridad               23             84        3.65
3          Sector_Educativo               44            181        4.11
4       Sector_No_Operativo               69            282        4.09
5          Sector_Operativo               70            264        3.77
6  Sector_Empleado_Comercio              150            587        3.91
7          Sector_Sin_Datos              467           1684        3.61

In [103]:
df_cliente = df_cliente.merge(step3, 
             left_on=['cargo_sector_desc_hist'], 
             right_on=['cargo_sector_desc_hist',])
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target_x,count_of_target,sum_of_target_y,mean_cargo
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,150,587,3.91
1,000e137d0af42e193be1ff670c00d4d1506,Hombre,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia,4,150,587,3.91
2,0009d010e4faf69552a814a33832b185877,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Alquilada,4,150,587,3.91
3,000997fe351702567b1e14d472bf53db592,Mujer,Sector_Empleado_Comercio,Casado,REGION_CUYO,SECUNDARIOS,Otros,4,150,587,3.91
4,000167afba54ed80262018628108b035962,Mujer,Sector_Empleado_Comercio,Casado,REGION_PAMPEANA,SECUNDARIOS,Propia,4,150,587,3.91
...,...,...,...,...,...,...,...,...,...,...,...
829,0000872cfa422565e32ef1f5fc95f841894,Hombre,Sector_Financiero,Casado,REGION_PAMPEANA,PRIMARIOS,Propia,3,8,29,3.62
830,000d75b3318c54c2829fbc59fc3b568e418,Hombre,Sector_Financiero,Casado,REGION_NORDESTE,SECUNDARIOS,Propia,3,8,29,3.62
831,000b713b910e2355799d02ea2140bc36680,Hombre,Sector_Financiero,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,4,8,29,3.62
832,000843ab221e7409b06b518c1d91cfe2857,Hombre,Sector_Financiero,Casado,REGION_PATAGONIA,SECUNDARIOS,Propia,4,8,29,3.62
833,000cc4c96b36ebee509531731ab3b5c2755,Mujer,Sector_Financiero,Otros,REGION_PAMPEANA,PRIMARIOS,Propia,5,8,29,3.62

In [104]:
df_cliente = df_cliente.drop(columns= ['count_of_target','sum_of_target_y']).rename({'sum_of_target_x': 'sum_of_target'}, axis=1)
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target,mean_cargo
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91
1,000e137d0af42e193be1ff670c00d4d1506,Hombre,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia,4,3.91
2,0009d010e4faf69552a814a33832b185877,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Alquilada,4,3.91
3,000997fe351702567b1e14d472bf53db592,Mujer,Sector_Empleado_Comercio,Casado,REGION_CUYO,SECUNDARIOS,Otros,4,3.91
4,000167afba54ed80262018628108b035962,Mujer,Sector_Empleado_Comercio,Casado,REGION_PAMPEANA,SECUNDARIOS,Propia,4,3.91
...,...,...,...,...,...,...,...,...,...
829,0000872cfa422565e32ef1f5fc95f841894,Hombre,Sector_Financiero,Casado,REGION_PAMPEANA,PRIMARIOS,Propia,3,3.62
830,000d75b3318c54c2829fbc59fc3b568e418,Hombre,Sector_Financiero,Casado,REGION_NORDESTE,SECUNDARIOS,Propia,3,3.62
831,000b713b910e2355799d02ea2140bc36680,Hombre,Sector_Financiero,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,4,3.62
832,000843ab221e7409b06b518c1d91cfe2857,Hombre,Sector_Financiero,Casado,REGION_PATAGONIA,SECUNDARIOS,Propia,4,3.62
833,000cc4c96b36ebee509531731ab3b5c2755,Mujer,Sector_Financiero,Otros,REGION_PAMPEANA,PRIMARIOS,Propia,5,3.62

#### Sexo_descripcion

In [105]:
df_cliente.sexo_descripcion.value_counts()

Mujer        445
Hombre       385
Sin_Datos      4
Name: sexo_descripcion, dtype: int64

Remitimos al step1 creado para la variable anterior, que contiene la suma de la variable target por cada dni_titular_movimiento.

In [106]:
step2 = df_cliente[['sexo_descripcion', 'dni_titular_movimiento']].groupby(['sexo_descripcion']).size().reset_index(name='count_of_target').sort_values(by='count_of_target')
step2

  sexo_descripcion  count_of_target
2        Sin_Datos                4
0           Hombre              385
1            Mujer              445

In [107]:
step1vs = df_cliente[['sexo_descripcion', 'sum_of_target']].groupby(['sexo_descripcion']).sum().reset_index()
step1vs

  sexo_descripcion  sum_of_target
0           Hombre           1392
1            Mujer           1714
2        Sin_Datos             12

In [108]:
step3 =  step2.merge(step1vs, 
             left_on=['sexo_descripcion'], 
             right_on=['sexo_descripcion',])
step3 = pd.DataFrame(step3)
step3

  sexo_descripcion  count_of_target  sum_of_target
0        Sin_Datos                4             12
1           Hombre              385           1392
2            Mujer              445           1714

In [109]:
df_cliente['sum_of_target'].sum()

3118

In [110]:
df_cliente.dni_titular_movimiento.nunique()

834

In [111]:
print(step3['count_of_target'].sum(), step3['sum_of_target'].sum())

834 3118

In [112]:
step3['mean_sexo'] = (step3.sum_of_target / step3.count_of_target).round(2)
step3

  sexo_descripcion  count_of_target  sum_of_target  mean_sexo
0        Sin_Datos                4             12       3.00
1           Hombre              385           1392       3.62
2            Mujer              445           1714       3.85

In [113]:
df_cliente = df_cliente.merge(step3, 
             left_on=['sexo_descripcion'], 
             right_on=['sexo_descripcion',])
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target_x,mean_cargo,count_of_target,sum_of_target_y,mean_sexo
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,385,1392,3.62
1,000e137d0af42e193be1ff670c00d4d1506,Hombre,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia,4,3.91,385,1392,3.62
2,0008995b3880f8e8e98090dc1c753e94553,Hombre,Sector_Empleado_Comercio,Casado,REGION_NOROESTE,SECUNDARIOS,Propia,5,3.91,385,1392,3.62
3,000190c81ee107511f72f56e58ca3923057,Hombre,Sector_Empleado_Comercio,Casado,REGION_PAMPEANA,TERCIARIOS,Propia,4,3.91,385,1392,3.62
4,000c49ccbb959a141c075be6018d8652091,Hombre,Sector_Empleado_Comercio,Soltero,REGION_NOROESTE,SECUNDARIOS,Propia,4,3.91,385,1392,3.62
...,...,...,...,...,...,...,...,...,...,...,...,...
829,000cc4c96b36ebee509531731ab3b5c2755,Mujer,Sector_Financiero,Otros,REGION_PAMPEANA,PRIMARIOS,Propia,5,3.62,445,1714,3.85
830,000055175fe76d2c4b0ca52f904b0c0c903,Sin_Datos,Sector_Sin_Datos,Soltero,REGION_NOROESTE,SECUNDARIOS,Otros,5,3.61,4,12,3.00
831,0006e947a6f89a8bcb835ae85c60ff93526,Sin_Datos,Sector_Sin_Datos,Soltero,REGION_NORDESTE,Sin_Datos,Sin_Datos,2,3.61,4,12,3.00
832,00017733df45bb08ee7abd44e6037cf7471,Sin_Datos,Sector_Sin_Datos,Soltero,REGION_NOROESTE,Sin_Datos,Sin_Datos,3,3.61,4,12,3.00
833,000e5f85c3a5e3fe6dc1f214f01f55ae617,Sin_Datos,Sector_Sin_Datos,Soltero,REGION_NORDESTE,Sin_Datos,Sin_Datos,2,3.61,4,12,3.00

In [114]:
df_cliente = df_cliente.drop(columns= ['count_of_target','sum_of_target_y']).rename({'sum_of_target_x': 'sum_of_target'}, axis=1)
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target,mean_cargo,mean_sexo
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,3.62
1,000e137d0af42e193be1ff670c00d4d1506,Hombre,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,SECUNDARIOS,Propia,4,3.91,3.62
2,0008995b3880f8e8e98090dc1c753e94553,Hombre,Sector_Empleado_Comercio,Casado,REGION_NOROESTE,SECUNDARIOS,Propia,5,3.91,3.62
3,000190c81ee107511f72f56e58ca3923057,Hombre,Sector_Empleado_Comercio,Casado,REGION_PAMPEANA,TERCIARIOS,Propia,4,3.91,3.62
4,000c49ccbb959a141c075be6018d8652091,Hombre,Sector_Empleado_Comercio,Soltero,REGION_NOROESTE,SECUNDARIOS,Propia,4,3.91,3.62
...,...,...,...,...,...,...,...,...,...,...
829,000cc4c96b36ebee509531731ab3b5c2755,Mujer,Sector_Financiero,Otros,REGION_PAMPEANA,PRIMARIOS,Propia,5,3.62,3.85
830,000055175fe76d2c4b0ca52f904b0c0c903,Sin_Datos,Sector_Sin_Datos,Soltero,REGION_NOROESTE,SECUNDARIOS,Otros,5,3.61,3.00
831,0006e947a6f89a8bcb835ae85c60ff93526,Sin_Datos,Sector_Sin_Datos,Soltero,REGION_NORDESTE,Sin_Datos,Sin_Datos,2,3.61,3.00
832,00017733df45bb08ee7abd44e6037cf7471,Sin_Datos,Sector_Sin_Datos,Soltero,REGION_NOROESTE,Sin_Datos,Sin_Datos,3,3.61,3.00
833,000e5f85c3a5e3fe6dc1f214f01f55ae617,Sin_Datos,Sector_Sin_Datos,Soltero,REGION_NORDESTE,Sin_Datos,Sin_Datos,2,3.61,3.00

#### Estado_civil_cat

In [115]:
df_cliente.estado_civil_cat.value_counts()

Soltero      428
Casado       294
Otros         98
Sin_datos     14
Name: estado_civil_cat, dtype: int64

Remitimos al step1 creado para la primer variable, que contiene la suma de la variable target por cada dni_titular_movimiento.

In [116]:
step2 = df_cliente[['estado_civil_cat', 'dni_titular_movimiento']].groupby(['estado_civil_cat']).size().reset_index(name='count_of_target').sort_values(by='count_of_target')
step2

  estado_civil_cat  count_of_target
2        Sin_datos               14
1            Otros               98
0           Casado              294
3          Soltero              428

In [117]:
step1vs = df_cliente[['estado_civil_cat', 'sum_of_target']].groupby(['estado_civil_cat']).sum().reset_index()
step1vs

  estado_civil_cat  sum_of_target
0           Casado           1125
1            Otros            356
2        Sin_datos             54
3          Soltero           1583

In [118]:
step3 =  step2.merge(step1vs, 
             left_on=['estado_civil_cat'], 
             right_on=['estado_civil_cat',])
step3 = pd.DataFrame(step3)
step3

  estado_civil_cat  count_of_target  sum_of_target
0        Sin_datos               14             54
1            Otros               98            356
2           Casado              294           1125
3          Soltero              428           1583

In [119]:
df_cliente['sum_of_target'].sum()

3118

In [120]:
df_cliente.dni_titular_movimiento.nunique()

834

In [121]:
print(step3['count_of_target'].sum(), step3['sum_of_target'].sum())

834 3118

In [122]:
step3['mean_est_civil'] = (step3.sum_of_target / step3.count_of_target).round(2)
step3

  estado_civil_cat  count_of_target  sum_of_target  mean_est_civil
0        Sin_datos               14             54            3.86
1            Otros               98            356            3.63
2           Casado              294           1125            3.83
3          Soltero              428           1583            3.70

In [123]:
df_cliente = df_cliente.merge(step3, 
             left_on=['estado_civil_cat'], 
             right_on=['estado_civil_cat',])
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target_x,mean_cargo,mean_sexo,count_of_target,sum_of_target_y,mean_est_civil
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,3.62,98,356,3.63
1,000e93c4f2fba984476bf86bfc483ab0732,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Alquilada,4,3.91,3.62,98,356,3.63
2,000cd731b336176daed0b381b8600a8b383,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.91,3.62,98,356,3.63
3,00067dddf31414baeece835716fddef3615,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,1,3.91,3.62,98,356,3.63
4,000b3753289033b938c52f0f1b2d55b2289,Hombre,Sector_Sin_Datos,Otros,REGION_NOROESTE,SECUNDARIOS,Propia,5,3.61,3.62,98,356,3.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,0000ea054fc9738cee4b54135f0abee2069,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PAMPEANA,Sin_Datos,Sin_Datos,3,3.61,3.85,14,54,3.86
830,0007e89e7180b18b18951a4c9de5419f943,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PAMPEANA,Sin_Datos,Sin_Datos,5,3.61,3.85,14,54,3.86
831,0002ca522c5aae4232c7722f4508fb49965,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,14,54,3.86
832,0001845f97c4f14f6c87835ed69be04c405,Mujer,Sector_Sin_Datos,Sin_datos,REGION_NOROESTE,Sin_Datos,Sin_Datos,2,3.61,3.85,14,54,3.86
833,000d1af465955c3e9d94d02597fbf814984,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,14,54,3.86

In [124]:
df_cliente = df_cliente.drop(columns= ['count_of_target','sum_of_target_y']).rename({'sum_of_target_x': 'sum_of_target'}, axis=1)
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target,mean_cargo,mean_sexo,mean_est_civil
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,3.62,3.63
1,000e93c4f2fba984476bf86bfc483ab0732,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Alquilada,4,3.91,3.62,3.63
2,000cd731b336176daed0b381b8600a8b383,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.91,3.62,3.63
3,00067dddf31414baeece835716fddef3615,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,1,3.91,3.62,3.63
4,000b3753289033b938c52f0f1b2d55b2289,Hombre,Sector_Sin_Datos,Otros,REGION_NOROESTE,SECUNDARIOS,Propia,5,3.61,3.62,3.63
...,...,...,...,...,...,...,...,...,...,...,...
829,0000ea054fc9738cee4b54135f0abee2069,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PAMPEANA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86
830,0007e89e7180b18b18951a4c9de5419f943,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PAMPEANA,Sin_Datos,Sin_Datos,5,3.61,3.85,3.86
831,0002ca522c5aae4232c7722f4508fb49965,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86
832,0001845f97c4f14f6c87835ed69be04c405,Mujer,Sector_Sin_Datos,Sin_datos,REGION_NOROESTE,Sin_Datos,Sin_Datos,2,3.61,3.85,3.86
833,000d1af465955c3e9d94d02597fbf814984,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86

#### Región

In [125]:
df_cliente.region.value_counts()

REGION_PAMPEANA     428
REGION_NOROESTE     151
REGION_CUYO         100
REGION_NORDESTE      91
REGION_PATAGONIA     64
Name: region, dtype: int64

Remitimos al step1 creado para la primer variable, que contiene la suma de la variable target por cada dni_titular_movimiento.

In [126]:
step2 = df_cliente[['region', 'dni_titular_movimiento']].groupby(['region']).size().reset_index(name='count_of_target').sort_values(by='count_of_target')
step2

             region  count_of_target
4  REGION_PATAGONIA               64
1   REGION_NORDESTE               91
0       REGION_CUYO              100
2   REGION_NOROESTE              151
3   REGION_PAMPEANA              428

In [127]:
step1vs = df_cliente[['region', 'sum_of_target']].groupby(['region']).sum().reset_index()
step1vs

             region  sum_of_target
0       REGION_CUYO            380
1   REGION_NORDESTE            348
2   REGION_NOROESTE            603
3   REGION_PAMPEANA           1539
4  REGION_PATAGONIA            248

In [128]:
step3 =  step2.merge(step1vs, 
             left_on=['region'], 
             right_on=['region',])
step3 = pd.DataFrame(step3)
step3

             region  count_of_target  sum_of_target
0  REGION_PATAGONIA               64            248
1   REGION_NORDESTE               91            348
2       REGION_CUYO              100            380
3   REGION_NOROESTE              151            603
4   REGION_PAMPEANA              428           1539

In [129]:
df_cliente['sum_of_target'].sum()

3118

In [130]:
df_cliente.dni_titular_movimiento.nunique()

834

In [131]:
print(step3['count_of_target'].sum(), step3['sum_of_target'].sum())

834 3118

In [132]:
step3['mean_reg'] = (step3.sum_of_target / step3.count_of_target).round(2)
step3

             region  count_of_target  sum_of_target  mean_reg
0  REGION_PATAGONIA               64            248      3.88
1   REGION_NORDESTE               91            348      3.82
2       REGION_CUYO              100            380      3.80
3   REGION_NOROESTE              151            603      3.99
4   REGION_PAMPEANA              428           1539      3.60

In [133]:
df_cliente = df_cliente.merge(step3, 
             left_on=['region'], 
             right_on=['region',])
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target_x,mean_cargo,mean_sexo,mean_est_civil,count_of_target,sum_of_target_y,mean_reg
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,3.62,3.63,428,1539,3.60
1,000e93c4f2fba984476bf86bfc483ab0732,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Alquilada,4,3.91,3.62,3.63,428,1539,3.60
2,000cd731b336176daed0b381b8600a8b383,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.91,3.62,3.63,428,1539,3.60
3,00067dddf31414baeece835716fddef3615,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,1,3.91,3.62,3.63,428,1539,3.60
4,000d82d4d4a5b19239d6f56cd67f3054956,Hombre,Sector_Sin_Datos,Otros,REGION_PAMPEANA,PRIMARIOS,Propia,4,3.61,3.62,3.63,428,1539,3.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,00056b7cbd81828862558007912d99be660,Mujer,Sector_Seguridad,Casado,REGION_PATAGONIA,PRIMARIOS,Propia,1,3.65,3.85,3.83,64,248,3.88
830,000a9361768feaee3c02dc87c130a871384,Mujer,Sector_Educativo,Casado,REGION_PATAGONIA,TERCIARIOS,Propia,4,4.11,3.85,3.83,64,248,3.88
831,000af801425a9ce1ec85fb7e34c862c2658,Mujer,Sector_Educativo,Casado,REGION_PATAGONIA,TERCIARIOS,Alquilada,3,4.11,3.85,3.83,64,248,3.88
832,0002ca522c5aae4232c7722f4508fb49965,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86,64,248,3.88
833,000d1af465955c3e9d94d02597fbf814984,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86,64,248,3.88

In [134]:
df_cliente = df_cliente.drop(columns= ['count_of_target','sum_of_target_y']).rename({'sum_of_target_x': 'sum_of_target'}, axis=1)
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target,mean_cargo,mean_sexo,mean_est_civil,mean_reg
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,3.62,3.63,3.60
1,000e93c4f2fba984476bf86bfc483ab0732,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Alquilada,4,3.91,3.62,3.63,3.60
2,000cd731b336176daed0b381b8600a8b383,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.91,3.62,3.63,3.60
3,00067dddf31414baeece835716fddef3615,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,1,3.91,3.62,3.63,3.60
4,000d82d4d4a5b19239d6f56cd67f3054956,Hombre,Sector_Sin_Datos,Otros,REGION_PAMPEANA,PRIMARIOS,Propia,4,3.61,3.62,3.63,3.60
...,...,...,...,...,...,...,...,...,...,...,...,...
829,00056b7cbd81828862558007912d99be660,Mujer,Sector_Seguridad,Casado,REGION_PATAGONIA,PRIMARIOS,Propia,1,3.65,3.85,3.83,3.88
830,000a9361768feaee3c02dc87c130a871384,Mujer,Sector_Educativo,Casado,REGION_PATAGONIA,TERCIARIOS,Propia,4,4.11,3.85,3.83,3.88
831,000af801425a9ce1ec85fb7e34c862c2658,Mujer,Sector_Educativo,Casado,REGION_PATAGONIA,TERCIARIOS,Alquilada,3,4.11,3.85,3.83,3.88
832,0002ca522c5aae4232c7722f4508fb49965,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86,3.88
833,000d1af465955c3e9d94d02597fbf814984,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86,3.88

#### Nivel_estudio_descripcion_histo

In [135]:
df_cliente.nivel_estudio_descripcion_histo.value_counts()

SECUNDARIOS       439
PRIMARIOS         214
TERCIARIOS         82
UNIVERSITARIOS     51
Sin_Datos          48
Name: nivel_estudio_descripcion_histo, dtype: int64

Remitimos al step1 creado para la primer variable, que contiene la suma de la variable target por cada dni_titular_movimiento.

In [136]:
step2 = df_cliente[['nivel_estudio_descripcion_histo', 'dni_titular_movimiento']].groupby(['nivel_estudio_descripcion_histo']).size().reset_index(name='count_of_target').sort_values(by='count_of_target')
step2

  nivel_estudio_descripcion_histo  count_of_target
2                       Sin_Datos               48
4                  UNIVERSITARIOS               51
3                      TERCIARIOS               82
0                       PRIMARIOS              214
1                     SECUNDARIOS              439

In [137]:
step1vs = df_cliente[['nivel_estudio_descripcion_histo', 'sum_of_target']].groupby(['nivel_estudio_descripcion_histo']).sum().reset_index()
step1vs

  nivel_estudio_descripcion_histo  sum_of_target
0                       PRIMARIOS            823
1                     SECUNDARIOS           1628
2                       Sin_Datos            151
3                      TERCIARIOS            327
4                  UNIVERSITARIOS            189

In [138]:
step3 =  step2.merge(step1vs, 
             left_on=['nivel_estudio_descripcion_histo'], 
             right_on=['nivel_estudio_descripcion_histo',])
step3 = pd.DataFrame(step3)
step3

  nivel_estudio_descripcion_histo  count_of_target  sum_of_target
0                       Sin_Datos               48            151
1                  UNIVERSITARIOS               51            189
2                      TERCIARIOS               82            327
3                       PRIMARIOS              214            823
4                     SECUNDARIOS              439           1628

In [139]:
df_cliente['sum_of_target'].sum()

3118

In [140]:
df_cliente.dni_titular_movimiento.nunique()

834

In [141]:
print(step3['count_of_target'].sum(), step3['sum_of_target'].sum())

834 3118

In [142]:
step3['mean_est'] = (step3.sum_of_target / step3.count_of_target).round(2)
step3

  nivel_estudio_descripcion_histo  count_of_target  sum_of_target  mean_est
0                       Sin_Datos               48            151      3.15
1                  UNIVERSITARIOS               51            189      3.71
2                      TERCIARIOS               82            327      3.99
3                       PRIMARIOS              214            823      3.85
4                     SECUNDARIOS              439           1628      3.71

In [143]:
df_cliente = df_cliente.merge(step3, 
             left_on=['nivel_estudio_descripcion_histo'], 
             right_on=['nivel_estudio_descripcion_histo',])
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target_x,mean_cargo,mean_sexo,mean_est_civil,mean_reg,count_of_target,sum_of_target_y,mean_est
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,3.62,3.63,3.60,439,1628,3.71
1,000e93c4f2fba984476bf86bfc483ab0732,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Alquilada,4,3.91,3.62,3.63,3.60,439,1628,3.71
2,000cd731b336176daed0b381b8600a8b383,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.91,3.62,3.63,3.60,439,1628,3.71
3,00067dddf31414baeece835716fddef3615,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,1,3.91,3.62,3.63,3.60,439,1628,3.71
4,000b175c38b625254a81097015cdeec0551,Hombre,Sector_Sin_Datos,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.61,3.62,3.63,3.60,439,1628,3.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,000ba28fc95f5fc6236456654cc60306309,Hombre,Sector_Sin_Datos,Soltero,REGION_PATAGONIA,Sin_Datos,Sin_Datos,4,3.61,3.62,3.70,3.88,48,151,3.15
830,0002e3beda63eecf311235a4dc4d5bba784,Mujer,Sector_Sin_Datos,Soltero,REGION_PATAGONIA,Sin_Datos,Sin_Datos,5,3.61,3.85,3.70,3.88,48,151,3.15
831,000a8d9e333008628601576a844099d4848,Mujer,Sector_Sin_Datos,Soltero,REGION_PATAGONIA,Sin_Datos,Sin_Datos,1,3.61,3.85,3.70,3.88,48,151,3.15
832,0002ca522c5aae4232c7722f4508fb49965,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86,3.88,48,151,3.15
833,000d1af465955c3e9d94d02597fbf814984,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86,3.88,48,151,3.15

In [144]:
df_cliente = df_cliente.drop(columns= ['count_of_target','sum_of_target_y']).rename({'sum_of_target_x': 'sum_of_target'}, axis=1)
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target,mean_cargo,mean_sexo,mean_est_civil,mean_reg,mean_est
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,3.62,3.63,3.60,3.71
1,000e93c4f2fba984476bf86bfc483ab0732,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Alquilada,4,3.91,3.62,3.63,3.60,3.71
2,000cd731b336176daed0b381b8600a8b383,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.91,3.62,3.63,3.60,3.71
3,00067dddf31414baeece835716fddef3615,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,1,3.91,3.62,3.63,3.60,3.71
4,000b175c38b625254a81097015cdeec0551,Hombre,Sector_Sin_Datos,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.61,3.62,3.63,3.60,3.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,000ba28fc95f5fc6236456654cc60306309,Hombre,Sector_Sin_Datos,Soltero,REGION_PATAGONIA,Sin_Datos,Sin_Datos,4,3.61,3.62,3.70,3.88,3.15
830,0002e3beda63eecf311235a4dc4d5bba784,Mujer,Sector_Sin_Datos,Soltero,REGION_PATAGONIA,Sin_Datos,Sin_Datos,5,3.61,3.85,3.70,3.88,3.15
831,000a8d9e333008628601576a844099d4848,Mujer,Sector_Sin_Datos,Soltero,REGION_PATAGONIA,Sin_Datos,Sin_Datos,1,3.61,3.85,3.70,3.88,3.15
832,0002ca522c5aae4232c7722f4508fb49965,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86,3.88,3.15
833,000d1af465955c3e9d94d02597fbf814984,Mujer,Sector_Sin_Datos,Sin_datos,REGION_PATAGONIA,Sin_Datos,Sin_Datos,3,3.61,3.85,3.86,3.88,3.15

#### Rel_vivienda_descripcion_histo

In [145]:
df_cliente.rel_vivienda_descripcion_histo.value_counts()

Propia         554
Sin_Datos      126
De familiar     66
Otros           65
Alquilada       23
Name: rel_vivienda_descripcion_histo, dtype: int64

Remitimos al step1 creado para la primer variable, que contiene la suma de la variable target por cada dni_titular_movimiento.

In [146]:
step2 = df_cliente[['rel_vivienda_descripcion_histo', 'dni_titular_movimiento']].groupby(['rel_vivienda_descripcion_histo']).size().reset_index(name='count_of_target').sort_values(by='count_of_target')
step2

  rel_vivienda_descripcion_histo  count_of_target
0                      Alquilada               23
2                          Otros               65
1                    De familiar               66
4                      Sin_Datos              126
3                         Propia              554

In [147]:
step1vs = df_cliente[['rel_vivienda_descripcion_histo', 'sum_of_target']].groupby(['rel_vivienda_descripcion_histo']).sum().reset_index()
step1vs

  rel_vivienda_descripcion_histo  sum_of_target
0                      Alquilada             87
1                    De familiar            249
2                          Otros            265
3                         Propia           2083
4                      Sin_Datos            434

In [148]:
step3 =  step2.merge(step1vs, 
             left_on=['rel_vivienda_descripcion_histo'], 
             right_on=['rel_vivienda_descripcion_histo',])
step3 = pd.DataFrame(step3)
step3

  rel_vivienda_descripcion_histo  count_of_target  sum_of_target
0                      Alquilada               23             87
1                          Otros               65            265
2                    De familiar               66            249
3                      Sin_Datos              126            434
4                         Propia              554           2083

In [149]:
df_cliente['sum_of_target'].sum()

3118

In [150]:
df_cliente.dni_titular_movimiento.nunique()

834

In [151]:
print(step3['count_of_target'].sum(), step3['sum_of_target'].sum())

834 3118

In [152]:
step3['mean_est_viv'] = (step3.sum_of_target / step3.count_of_target).round(2)
step3

  rel_vivienda_descripcion_histo  count_of_target  sum_of_target  mean_est_viv
0                      Alquilada               23             87          3.78
1                          Otros               65            265          4.08
2                    De familiar               66            249          3.77
3                      Sin_Datos              126            434          3.44
4                         Propia              554           2083          3.76

In [153]:
df_cliente = df_cliente.merge(step3, 
             left_on=['rel_vivienda_descripcion_histo'], 
             right_on=['rel_vivienda_descripcion_histo',])
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target_x,mean_cargo,mean_sexo,mean_est_civil,mean_reg,mean_est,count_of_target,sum_of_target_y,mean_est_viv
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,3.62,3.63,3.60,3.71,554,2083,3.76
1,000cd731b336176daed0b381b8600a8b383,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.91,3.62,3.63,3.60,3.71,554,2083,3.76
2,00067dddf31414baeece835716fddef3615,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,1,3.91,3.62,3.63,3.60,3.71,554,2083,3.76
3,000b175c38b625254a81097015cdeec0551,Hombre,Sector_Sin_Datos,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.61,3.62,3.63,3.60,3.71,554,2083,3.76
4,00085d1bcca626b0a5aa9a462ecad58b251,Hombre,Sector_Sin_Datos,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,2,3.61,3.62,3.63,3.60,3.71,554,2083,3.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,000bc95d2ca10bd02f265167bedd2b66834,Mujer,Sector_Sin_Datos,Casado,REGION_PATAGONIA,PRIMARIOS,Otros,4,3.61,3.85,3.83,3.88,3.85,65,265,4.08
830,000a9b6a60ee98c13107c83dcc4ca7c9825,Hombre,Sector_Educativo,Casado,REGION_PAMPEANA,TERCIARIOS,Otros,6,4.11,3.62,3.83,3.60,3.99,65,265,4.08
831,000cc8a8d027dd2166cbc08fe3de32e1388,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Otros,1,3.91,3.85,3.70,3.60,3.71,65,265,4.08
832,000b6d480f5145b3a835920005005291682,Mujer,Sector_Operativo,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Otros,3,3.77,3.85,3.70,3.60,3.71,65,265,4.08
833,00036923e5f5786c68551769bfc24b9c089,Mujer,Sector_No_Operativo,Casado,REGION_PAMPEANA,UNIVERSITARIOS,Otros,3,4.09,3.85,3.83,3.60,3.71,65,265,4.08

In [154]:
df_cliente = df_cliente.drop(columns= ['count_of_target','sum_of_target_y']).rename({'sum_of_target_x': 'sum_of_target'}, axis=1)
df_cliente

,dni_titular_movimiento,sexo_descripcion,cargo_sector_desc_hist,estado_civil_cat,region,nivel_estudio_descripcion_histo,rel_vivienda_descripcion_histo,sum_of_target,mean_cargo,mean_sexo,mean_est_civil,mean_reg,mean_est,mean_est_viv
0,0001686b52949b5461ffcbc766687e45031,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,7,3.91,3.62,3.63,3.60,3.71,3.76
1,000cd731b336176daed0b381b8600a8b383,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.91,3.62,3.63,3.60,3.71,3.76
2,00067dddf31414baeece835716fddef3615,Hombre,Sector_Empleado_Comercio,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,1,3.91,3.62,3.63,3.60,3.71,3.76
3,000b175c38b625254a81097015cdeec0551,Hombre,Sector_Sin_Datos,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,5,3.61,3.62,3.63,3.60,3.71,3.76
4,00085d1bcca626b0a5aa9a462ecad58b251,Hombre,Sector_Sin_Datos,Otros,REGION_PAMPEANA,SECUNDARIOS,Propia,2,3.61,3.62,3.63,3.60,3.71,3.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,000bc95d2ca10bd02f265167bedd2b66834,Mujer,Sector_Sin_Datos,Casado,REGION_PATAGONIA,PRIMARIOS,Otros,4,3.61,3.85,3.83,3.88,3.85,4.08
830,000a9b6a60ee98c13107c83dcc4ca7c9825,Hombre,Sector_Educativo,Casado,REGION_PAMPEANA,TERCIARIOS,Otros,6,4.11,3.62,3.83,3.60,3.99,4.08
831,000cc8a8d027dd2166cbc08fe3de32e1388,Mujer,Sector_Empleado_Comercio,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Otros,1,3.91,3.85,3.70,3.60,3.71,4.08
832,000b6d480f5145b3a835920005005291682,Mujer,Sector_Operativo,Soltero,REGION_PAMPEANA,UNIVERSITARIOS,Otros,3,3.77,3.85,3.70,3.60,3.71,4.08
833,00036923e5f5786c68551769bfc24b9c089,Mujer,Sector_No_Operativo,Casado,REGION_PAMPEANA,UNIVERSITARIOS,Otros,3,4.09,3.85,3.83,3.60,3.71,4.08

### FALTA VER SI SE MERGEO BIEN DF_CLIENTE CODIFICADO CON MEAN_ENCOFING CON EL df_obj

In [155]:
df_enc_cliente = df_cliente[['dni_titular_movimiento','mean_cargo','mean_sexo',
            'mean_est_civil','mean_reg', 'mean_est','mean_est_viv']]
df_enc_cliente

,dni_titular_movimiento,mean_cargo,mean_sexo,mean_est_civil,mean_reg,mean_est,mean_est_viv
0,0001686b52949b5461ffcbc766687e45031,3.91,3.62,3.63,3.60,3.71,3.76
1,000cd731b336176daed0b381b8600a8b383,3.91,3.62,3.63,3.60,3.71,3.76
2,00067dddf31414baeece835716fddef3615,3.91,3.62,3.63,3.60,3.71,3.76
3,000b175c38b625254a81097015cdeec0551,3.61,3.62,3.63,3.60,3.71,3.76
4,00085d1bcca626b0a5aa9a462ecad58b251,3.61,3.62,3.63,3.60,3.71,3.76
...,...,...,...,...,...,...,...
829,000bc95d2ca10bd02f265167bedd2b66834,3.61,3.85,3.83,3.88,3.85,4.08
830,000a9b6a60ee98c13107c83dcc4ca7c9825,4.11,3.62,3.83,3.60,3.99,4.08
831,000cc8a8d027dd2166cbc08fe3de32e1388,3.91,3.85,3.70,3.60,3.71,4.08
832,000b6d480f5145b3a835920005005291682,3.77,3.85,3.70,3.60,3.71,4.08
833,00036923e5f5786c68551769bfc24b9c089,4.09,3.85,3.83,3.60,3.71,4.08

In [156]:
df_obj_final = df_obj.merge(df_enc_cliente, 
             left_on=['dni_titular_movimiento'], 
             right_on=['dni_titular_movimiento',])
df_obj_final

,dni_titular_movimiento,anio_mes_cupon,client_edad,client_antig,client_domicilio_codigo_postal,trans__x0_AX,trans__x0_EX,trans__x0_MC,trans__x0_PC,trans__x0_PL,...,trans__x3_9,monto_ajustado,fg_aumentado,o_mes,mean_cargo,mean_sexo,mean_est_civil,mean_reg,mean_est,mean_est_viv
0,000000b5aea2c9ea7cc155f6ebcef97f826,202007,46.0,224.0,3000.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0,0,3.61,3.85,3.70,3.6,3.99,3.76
1,000000b5aea2c9ea7cc155f6ebcef97f826,202008,46.0,225.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,-4.72,0,1,3.61,3.85,3.70,3.6,3.99,3.76
2,000000b5aea2c9ea7cc155f6ebcef97f826,202009,47.0,226.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,-4.61,0,2,3.61,3.85,3.70,3.6,3.99,3.76
3,000000b5aea2c9ea7cc155f6ebcef97f826,202010,47.0,227.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,-4.46,0,3,3.61,3.85,3.70,3.6,3.99,3.76
4,000000b5aea2c9ea7cc155f6ebcef97f826,202011,47.0,228.0,3000.0,0.0,0.0,0.0,0.0,1.0,...,0.0,-4.34,0,4,3.61,3.85,3.70,3.6,3.99,3.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10003,000f0b73ebfa002a79a0642b82e87919904,202102,64.0,22.0,5730.0,0.0,0.0,0.0,0.0,3.0,...,0.0,12566.68,0,7,3.61,3.85,3.83,3.8,3.71,3.44
10004,000f0b73ebfa002a79a0642b82e87919904,202103,64.0,23.0,5730.0,0.0,0.0,0.0,0.0,5.0,...,0.0,2663.08,0,8,3.61,3.85,3.83,3.8,3.71,3.44
10005,000f0b73ebfa002a79a0642b82e87919904,202104,64.0,24.0,5730.0,0.0,0.0,0.0,0.0,6.0,...,0.0,5660.76,1,9,3.61,3.85,3.83,3.8,3.71,3.44
10006,000f0b73ebfa002a79a0642b82e87919904,202105,64.0,25.0,5730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2063.81,0,10,3.61,3.85,3.83,3.8,3.71,3.44
10007,000f0b73ebfa002a79a0642b82e87919904,202106,64.0,26.0,5730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.00,0,11,3.61,3.85,3.83,3.8,3.71,3.44

### 3.4 Creación de variable distancia según domicilio_código_postal

Procedemos a crear una variable que mida la distancia entre los distintos códigos postales. En nuestro caso, al ser Tarjeta Naranja de la ciudad de Córdoba, usaremos de referencia el codigo postal de dicha ciudad.

In [157]:
df_obj.client_domicilio_codigo_postal.describe()

count    10008.000000
mean      4395.285372
std       1999.701899
min       1000.000000
25%       3100.000000
50%       4400.000000
75%       5513.000000
max       9420.000000
Name: client_domicilio_codigo_postal, dtype: float64

In [158]:
df[df["ciudad"] == "CORDOBA"]['domicilio_codigo_postal'].value_counts()

5000    1024
5006     821
5016     741
5014     646
5009     604
5003     441
5008     349
5012     282
5002     278
5017     235
5004     164
5021     157
5020     149
5011     132
5001     117
5022     113
5013      51
Name: domicilio_codigo_postal, dtype: int64

In [159]:
dist = pgeocode.GeoDistance('ar')
# distancia aprox. entre jujuy y cordoba en Km
dist.query_postal_code("4600", "5000")

809.05828514463

In [160]:
def distancia(cod_post):
    return pgeocode.GeoDistance('ar').query_postal_code(cod_post, "5000")

#df['domicilio_codigo_postal'].apply(distancia)

In [161]:
df['domicilio_codigo_postal']

0         1766
1         5521
2         7107
3         2200
4         1019
          ...
124000    4181
124003    8300
124005    3503
124006    4200
124007    4200
Name: domicilio_codigo_postal, Length: 60523, dtype: object

In [162]:
pd.Series(['2200', '4181', '4200'])

0    2200
1    4181
2    4200
dtype: object

In [163]:
df_obj['client_domicilio_codigo_postal'].astype(int).astype(str)

0        3000
1        3000
2        3000
3        3000
4        3000
         ...
10003    5730
10004    5730
10005    5730
10006    5730
10007    5730
Name: client_domicilio_codigo_postal, Length: 10008, dtype: object

In [164]:
df_cp = df_obj['client_domicilio_codigo_postal'].astype(int).astype(str).drop_duplicates().reset_index().drop(columns='index')
df_cp['client_domicilio_codigo_postal']

0      3000
1      5541
2      1754
3      4700
4      5000
       ...
372    4603
373    1834
374    1885
375    5594
376    4650
Name: client_domicilio_codigo_postal, Length: 377, dtype: object

In [165]:
def distancia(cod_post):
    return pgeocode.GeoDistance('ar').query_postal_code(cod_post, "5000")

df_cp['geodist_cp'] = df_cp['client_domicilio_codigo_postal'].apply(distancia).round(2)

In [166]:
df_cp.loc[df_cp[df_cp['geodist_cp'].isna()].index.values,'geodist_cp'] = pd.Series(df_cp[df_cp['geodist_cp'].isna()]['client_domicilio_codigo_postal'].str[:2]+'00').apply(distancia).round(2)

In [167]:
df_cp.loc[df_cp[df_cp['geodist_cp'].isna()].index.values,'geodist_cp'] = pd.Series(df_cp[df_cp['geodist_cp'].isna()]['client_domicilio_codigo_postal'].str[:1]+'000').apply(distancia).round(2)

In [168]:
df[df['provincia'] == 'BUENOS AIRES']['domicilio_codigo_postal']

0         1766
2         7107
18        1744
28        1625
38        1891
          ...
123947    1650
123963    1826
123979    1824
123980    1824
123983    1757
Name: domicilio_codigo_postal, Length: 9816, dtype: object

In [169]:
df_cp['geodist_cp'].fillna(644.06, inplace=True) # Todos los que quedan son CABA

In [170]:
df_cp.isnull().sum()

client_domicilio_codigo_postal    0
geodist_cp                        0
dtype: int64

In [171]:
df_obj['client_domicilio_codigo_postal'] = df_obj['client_domicilio_codigo_postal'].astype(int).astype(str)

In [172]:
df_obj = df_obj.merge(df_cp, on='client_domicilio_codigo_postal')

In [173]:
df_mes[df_mes['dni_titular_movimiento'] == '000e3f8d9ca944691a0eddeadb42299d686']

,dni_titular_movimiento,anio_mes_cupon,client_edad,client_antig,client_domicilio_codigo_postal,trans__x0_AX,trans__x0_EX,trans__x0_MC,trans__x0_PC,trans__x0_PL,...,trans__x3_1,trans__x3_2,trans__x3_3,trans__x3_4,trans__x3_5,trans__x3_6,trans__x3_7,trans__x3_8,trans__x3_9,monto_ajustado
9468,000e3f8d9ca944691a0eddeadb42299d686,202007,32.0,49.0,1417.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,116.49
9469,000e3f8d9ca944691a0eddeadb42299d686,202008,32.0,50.0,1417.0,0.0,0.0,0.0,0.0,5.0,...,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,7987.87
9470,000e3f8d9ca944691a0eddeadb42299d686,202009,32.0,51.0,1417.0,0.0,0.0,0.0,0.0,5.0,...,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,17928.62
9471,000e3f8d9ca944691a0eddeadb42299d686,202010,32.0,52.0,1417.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3699.48
9472,000e3f8d9ca944691a0eddeadb42299d686,202011,32.0,53.0,1417.0,0.0,0.0,0.0,0.0,3.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,19642.77
9473,000e3f8d9ca944691a0eddeadb42299d686,202012,32.0,54.0,1417.0,0.0,0.0,0.0,0.0,3.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,17941.69
9474,000e3f8d9ca944691a0eddeadb42299d686,202101,32.0,55.0,1417.0,0.0,0.0,0.0,0.0,4.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,8288.93
9475,000e3f8d9ca944691a0eddeadb42299d686,202102,32.0,56.0,1417.0,0.0,0.0,0.0,0.0,6.0,...,2.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,23693.88
9476,000e3f8d9ca944691a0eddeadb42299d686,202103,32.0,57.0,1417.0,0.0,0.0,0.0,0.0,6.0,...,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,27042.74
9477,000e3f8d9ca944691a0eddeadb42299d686,202104,32.0,58.0,1417.0,0.0,0.0,0.0,0.0,4.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,13312.90
9478,000e3f8d9ca944691a0eddeadb42299d686,202105,32.0,59.0,1417.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
9479,000e3f8d9ca944691a0eddeadb42299d686,202106,32.0,60.0,1417.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00